{% extends "partials/main-layout.html" %} {% load static %}
{% block title %}
<title>Apps Todo List | QuickFrame - Admin & Dashboards Templates</title>
{% endblock title %}
{% block content %}

      <div x-data="{ open: false }" class="grid grid-cols-1 pt-4 sm:grid-cols-2 xl:grid-cols-3 gap-x-6 todo-list">
        <div class="overflow-hidden card card-dark">
          <div class="card-body !p-4">
            <h6 class="font-semibold leading-6 text-16">To do</h6>
            <button @click="open = !open" x-show="!open" ripple-opacity="0.3" ripple-color="white" class="w-full my-4 btn btn-sm ripple btn-primary">
              <i class="text-2xl leading-none ri-add-fill"></i>
            </button>
            <div x-show="open" class="mt-4">
              <div class="space-y-2">
                <input type="text" class="form-input form-input-sm !py-[11px] !pe-4 placeholder:opacity-50" placeholder="Title">
                <div class="relative">
                  <input id="todo-datepicker" type="text" class="form-input form-input-sm !pe-11 !py-[11px] placeholder:opacity-50" placeholder="mm/dd/yyyy">
                  <span ripple-opacity="0.05" ripple-color="black"  class="!absolute ripple alert-close size-10 flex items-center justify-center end-1 top-1/2 -translate-y-1/2 text-gray-500 dark:text-gray-400 cursor-pointer">
                    <i class="text-xl font-normal cursor-pointer ri-calendar-2-line leading-nones"></i>
                  </span>
                </div>
                <input type="text" class="form-input form-input-sm !py-[11px] !pe-4 placeholder:opacity-50" placeholder="@mention Client">
                <textarea rows="6" type="text" class="form-input form-input-sm !py-[11px] !pe-4 placeholder:opacity-50" placeholder="Description"></textarea>
              </div>
              <div class="flex items-center mt-2">
                <label for="select_color" class="text-gray-500 dark:text-gray-400 text-16 leading-[23px]">Select Color</label>
                <div class="flex items-center">
                  <div class="flex items-center justify-center size-8">
                    <input type="radio" class="radio-primary size-3.5" name="select_color" id="select_color">
                  </div>
                  <div class="flex items-center justify-center size-8">
                    <input type="radio" class="radio-success size-3.5" name="select_color" id="select_color">
                  </div>
                  <div class="flex items-center justify-center size-8">
                    <input type="radio" class="radio-error size-3.5" name="select_color" id="select_color">
                  </div>
                  <div class="flex items-center justify-center size-8">
                    <input type="radio" class="radio-info size-3.5" name="select_color" id="select_color">
                  </div>
                </div>
              </div>
              <div class="flex items-center gap-4 mt-4">
                <button @click="open = false"  ripple-opacity="0.3" ripple-color="white" class="w-full btn ripple btn-primary">Save</button>
                <button @click="open = false"  ripple-opacity="0.3" ripple-color="black" class="w-full text-black border-gray-200 btn ripple btn-outline-secondary dark:bg-transparent hover:bg-transparent dark:border-gray-700 hover:text-black dark:text-white dark:hover:border-white">Cancel</button>
              </div>
            </div>
          </div>
          <div x-bind:class="{'h-[calc(100vh-279px)]': !open, 'h-[calc(100vh-618px)]': open}" class="p-4 overflow-x-hidden" data-simplebar>
            <div class="h-full" id="todo">
              <div class="overflow-hidden card card-dark cursor-grab">
                <div class="card-body !p-4">
                  <div class="flex items-center justify-between gap-8">
                    <h6 class="font-semibold text-sm leading-[21px]">July 2, 2020</h6>
                    <div ripple-opacity="0.1" ripple-color="black" class="flex items-center justify-center p-2 rounded-full cursor-pointer ripple size-9 bg-gray-50">
                      <i class="text-lg ri-more-fill text-gray-900/50"></i>
                    </div>
                  </div>
                  <div class="pt-12 pb-8 text-center">
                    <h6 class="text-lg leading-[27px] font-semibold">Web Designing</h6>
                    <p class="mt-1">Prototyping</p>
                  </div>
                  <div>
                    <div class="flex items-center justify-between gap-2 py-2">
                      <p class="font-semibold">Project Progress</p>
                      <p class="font-semibold">32%</p>
                    </div>
                    <div class='flex w-full h-1.5 bg-gray-200 rounded-full overflow-hidden dark:bg-gray-700'>
                      <div class='w-7/12 h-full overflow-hidden bg-primary-500 origin-left-right'></div>
                    </div>
                  </div>
                  <div class="flex items-center justify-between gap-1 pt-6">
                    <div class="flex items-center -space-x-1.5 rtl:space-x-reverse">
                      <img class="size-10 rounded-full bg-white dark:bg-gray-600 p-0.5 z-30" src={% static 'assets/images/user/user-11.png' %} alt="User">
                      <img class="size-10 rounded-full bg-white dark:bg-gray-600 p-0.5 z-20" src={% static 'assets/images/user/user-10.png' %} alt="User">
                      <div class="flex items-center justify-center text-white bg-gray-400 rounded-full size-10 dark:bg-gray-600 dark:text-black text-7">+2</div>
                    </div>
                    <span class="text-gray-700 bg-gray-100 chip chip-secondary dark:bg-gray-700 dark:text-gray-50">3 Weeks Left</span>
                  </div>
                </div>
              </div>
              <div class="overflow-hidden card card-dark cursor-grab">
                <div class="card-body !p-4">
                  <div class="flex items-center justify-between gap-8">
                    <h6 class="font-semibold text-sm leading-[21px]">July 2, 2020</h6>
                    <div ripple-opacity="0.1" ripple-color="black" class="flex items-center justify-center p-2 rounded-full cursor-pointer ripple size-9 bg-gray-50">
                      <i class="text-lg ri-more-fill text-gray-900/50"></i>
                    </div>
                  </div>
                  <div class="pt-12 pb-8 text-center">
                    <h6 class="text-lg leading-[27px] font-semibold">Web Designing</h6>
                    <p class="mt-1">Prototyping</p>
                  </div>
                  <div>
                    <div class="flex items-center justify-between gap-2 py-2">
                      <p class="font-semibold">Project Progress</p>
                      <p class="font-semibold">32%</p>
                    </div>
                    <div class='flex w-full h-1.5 bg-gray-200 rounded-full overflow-hidden dark:bg-gray-700'>
                      <div class='w-7/12 h-full overflow-hidden bg-primary-500 origin-left-right'></div>
                    </div>
                  </div>
                  <div class="flex items-center justify-between gap-1 pt-6">
                    <div class="flex items-center -space-x-1.5 rtl:space-x-reverse">
                      <img class="size-10 rounded-full bg-white dark:bg-gray-600 p-0.5 z-30" src={% static 'assets/images/user/user-11.png' %} alt="User">
                      <img class="size-10 rounded-full bg-white dark:bg-gray-600 p-0.5 z-20" src={% static 'assets/images/user/user-10.png' %} alt="User">
                      <div class="flex items-center justify-center text-white bg-gray-400 rounded-full size-10 dark:bg-gray-600 dark:text-black text-7">+2</div>
                    </div>
                    <span class="text-gray-700 bg-gray-100 chip chip-secondary dark:bg-gray-700 dark:text-gray-50">3 Weeks Left</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="overflow-hidden card card-dark">
          <div class="card-body !p-4">
            <h6 class="text-lg leading-[27px] font-semibold">In Progress</h6>
          </div>
          <div class="p-4 lg:h-[calc(100vh-200px)] overflow-x-hidden" data-simplebar>
            <div class="h-full" id="in-progress">
              <div class="overflow-hidden card card-dark cursor-grab">
                <div class="card-body !p-4">
                  <div class="flex items-center justify-between gap-8">
                    <h6 class="font-semibold text-sm leading-[21px]">July 2, 2020</h6>
                    <div ripple-opacity="0.1" ripple-color="black" class="flex items-center justify-center p-2 rounded-full cursor-pointer ripple size-9 bg-gray-50">
                      <i class="text-lg ri-more-fill text-gray-900/50"></i>
                    </div>
                  </div>
                  <div class="pt-12 pb-8 text-center">
                    <h6 class="text-lg leading-[27px] font-semibold">Web Designing</h6>
                    <p class="mt-1">Prototyping</p>
                  </div>
                  <div>
                    <div class="flex items-center justify-between gap-2 py-2">
                      <p class="font-semibold">Project Progress</p>
                      <p class="font-semibold">32%</p>
                    </div>
                    <div class='flex w-full h-1.5 bg-gray-200 rounded-full overflow-hidden dark:bg-gray-700'>
                      <div class='w-7/12 h-full overflow-hidden bg-primary-500 origin-left-right'></div>
                    </div>
                  </div>
                  <div class="flex items-center justify-between gap-1 pt-6">
                    <div class="flex items-center -space-x-1.5 rtl:space-x-reverse">
                      <img class="size-10 rounded-full bg-white dark:bg-gray-600 p-0.5 z-30" src={% static 'assets/images/user/user-11.png' %} alt="User">
                      <img class="size-10 rounded-full bg-white dark:bg-gray-600 p-0.5 z-20" src={% static 'assets/images/user/user-10.png' %} alt="User">
                      <div class="flex items-center justify-center text-white bg-gray-400 rounded-full size-10 dark:bg-gray-600 dark:text-black text-7">+2</div>
                    </div>
                    <span class="text-gray-700 bg-gray-100 chip chip-secondary dark:bg-gray-700 dark:text-gray-50">3 Weeks Left</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="overflow-hidden card card-dark">
          <div class="card-body !p-4">
            <h6 class="text-lg leading-[27px] font-semibold">Done</h6>
          </div>
          <div class="p-4 lg:h-[calc(100vh-200px)] overflow-x-hidden" data-simplebar>
            <div class="h-full" id="done">
              <div class="overflow-hidden card card-dark cursor-grab">
                <div class="card-body !p-4">
                  <div class="flex items-center justify-between gap-8">
                    <h6 class="font-semibold text-sm leading-[21px]">July 2, 2020</h6>
                    <div ripple-opacity="0.1" ripple-color="black" class="flex items-center justify-center p-2 rounded-full cursor-pointer ripple size-9 bg-gray-50">
                      <i class="text-lg ri-more-fill text-gray-900/50"></i>
                    </div>
                  </div>
                  <div class="pt-12 pb-8 text-center">
                    <h6 class="text-lg leading-[27px] font-semibold">Web Designing</h6>
                    <p class="mt-1">Prototyping</p>
                  </div>
                  <div>
                    <div class="flex items-center justify-between gap-2 py-2">
                      <p class="font-semibold">Project Progress</p>
                      <p class="font-semibold">32%</p>
                    </div>
                    <div class='flex w-full h-1.5 bg-gray-200 rounded-full overflow-hidden dark:bg-gray-700'>
                      <div class='w-7/12 h-full overflow-hidden bg-primary-500 origin-left-right'></div>
                    </div>
                  </div>
                  <div class="flex items-center justify-between gap-1 pt-6">
                    <div class="flex items-center -space-x-1.5 rtl:space-x-reverse">
                      <img class="size-10 rounded-full bg-white dark:bg-gray-600 p-0.5 z-30" src={% static 'assets/images/user/user-11.png' %} alt="User">
                      <img class="size-10 rounded-full bg-white dark:bg-gray-600 p-0.5 z-20" src={% static 'assets/images/user/user-10.png' %} alt="User">
                      <div class="flex items-center justify-center text-white bg-gray-400 rounded-full size-10 dark:bg-gray-600 dark:text-black text-7">+2</div>
                    </div>
                    <span class="text-gray-700 bg-gray-100 chip chip-secondary dark:bg-gray-700 dark:text-gray-50">3 Weeks Left</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

{% endblock content %}
{% block js %}
  <script type="module" src={% static 'vite/assets/js/apps-todo-list.js' %}></script>
{% endblock js %}