{% extends "partials/component-layout.html" %} {% load static %}
{% block title %}
<title>UI Components | QuickFrame - Admin & Dashboards Templates</title>
{% endblock title %}
{% block content %}
  <!-- Breadcrumb Start -->
    <div class="py-20 border-b border-gray-200 dark:border-gray-700">
        <div class="container">
            <h6 class="text-[32px] font-bold mb-1 leading-[48px] dark:text-white">Components</h6>
            <div class="text-gray-500 dark:text-gray-400 text-lg max-w-md">Making deployment simple and expanding more successfully with a large resource pack</div>
        </div>
    </div>
  <!-- Breadcrumb end -->
  
   <div class="container max-w-[1200px] mx-auto">

    <div class="py-20">

        <div class="mb-10">
            <h6 class="text-3 font-semibold mb-2 dark:text-white">MUI</h6>
            <div class="text-gray-500 dark:text-gray-400 text-6">Components from
                <a href="#!" class="text-primary-500">Material UI.</a>
            </div>
        </div>

        <div class="grid grid-cols-2 sm:grid-cols-4 lg:grid-cols-6 gap-6">
            <a href="ui-accordian.html">
                <div class="bg-white dark:bg-gray-800 text-gray-900 dark:text-white border border-gray-100 dark:border-gray-700 rounded-xl relative overflow-hidden cursor-pointer transition duration-300 ease-in-out group/range">
                    <img class="h-[150px] bg-gray-100 dark:bg-gray-900 dark:opacity-50 p-4 w-full object-cover object-center" src={% static 'assets/images/components/accordion.png' %} alt="Accordion">
                    <h6 class="p-4 text-6 text-center">Accordion</h6>
                    <span class="absolute inset-0 bg-current opacity-0 group-hover/range:opacity-5"></span>
                </div>
            </a>
            <a href="ui-alert.html">
                <div class="bg-white dark:bg-gray-800 text-gray-900 dark:text-white border border-gray-100 dark:border-gray-700 rounded-xl relative overflow-hidden cursor-pointer transition duration-300 ease-in-out group/range">
                    <img class="h-[150px] bg-gray-100 dark:bg-gray-900 dark:opacity-50 p-4 w-full object-cover object-center" src={% static 'assets/images/components/alert.png' %} alt="Alert">
                    <h6 class="p-4 text-6 text-center">Alert</h6>
                    <span class="absolute inset-0 bg-current opacity-0 group-hover/range:opacity-5"></span>
                </div>
            </a>
            <a href="ui-autocomplete.html">
                <div class="bg-white dark:bg-gray-800 text-gray-900 dark:text-white border border-gray-100 dark:border-gray-700 rounded-xl relative overflow-hidden cursor-pointer transition duration-300 ease-in-out group/range">
                    <img class="h-[150px] bg-gray-100 dark:bg-gray-900 dark:opacity-50 p-4 w-full object-cover object-center" src={% static 'assets/images/components/autocomplete.png' %} alt="Autocomplete">
                    <h6 class="p-4 text-6 text-center">Autocomplete</h6>
                    <span class="absolute inset-0 bg-current opacity-0 group-hover/range:opacity-5"></span>
                </div>
            </a>
            <a href="ui-avatar.html">
                <div class="bg-white dark:bg-gray-800 text-gray-900 dark:text-white border border-gray-100 dark:border-gray-700 rounded-xl relative overflow-hidden cursor-pointer transition duration-300 ease-in-out group/range">
                    <img class="h-[150px] bg-gray-100 dark:bg-gray-900 dark:opacity-50 p-4 w-full object-cover object-center" src={% static 'assets/images/components/avatar.png' %} alt="Avatar">
                    <h6 class="p-4 text-6 text-center">Avatar</h6>
                    <span class="absolute inset-0 bg-current opacity-0 group-hover/range:opacity-5"></span>
                </div>
            </a>
            <a href="ui-badge.html">
                <div class="bg-white dark:bg-gray-800 text-gray-900 dark:text-white border border-gray-100 dark:border-gray-700 rounded-xl relative overflow-hidden cursor-pointer transition duration-300 ease-in-out group/range">
                    <img class="h-[150px] bg-gray-100 dark:bg-gray-900 dark:opacity-50 p-4 w-full object-cover object-center" src={% static 'assets/images/components/badge.png' %} alt="Badge">
                    <h6 class="p-4 text-6 text-center">Badge</h6>
                    <span class="absolute inset-0 bg-current opacity-0 group-hover/range:opacity-5"></span>
                </div>
            </a>
            <a href="ui-breadcrumbs.html">
                <div class="bg-white dark:bg-gray-800 text-gray-900 dark:text-white border border-gray-100 dark:border-gray-700 rounded-xl relative overflow-hidden cursor-pointer transition duration-300 ease-in-out group/range">
                    <img class="h-[150px] bg-gray-100 dark:bg-gray-900 dark:opacity-50 p-4 w-full object-cover object-center" src={% static 'assets/images/components/breadcrumbs.png' %} alt="Breadcrumbs">
                    <h6 class="p-4 text-6 text-center">Breadcrumbs</h6>
                    <span class="absolute inset-0 bg-current opacity-0 group-hover/range:opacity-5"></span>
                </div>
            </a>
            <a href="ui-button.html">
                <div class="bg-white dark:bg-gray-800 text-gray-900 dark:text-white border border-gray-100 dark:border-gray-700 rounded-xl relative overflow-hidden cursor-pointer transition duration-300 ease-in-out group/range">
                    <img class="h-[150px] bg-gray-100 dark:bg-gray-900 dark:opacity-50 p-4 w-full object-cover object-center" src={% static 'assets/images/components/buttons.png' %} alt="Buttons">
                    <h6 class="p-4 text-6 text-center">Buttons</h6>
                    <span class="absolute inset-0 bg-current opacity-0 group-hover/range:opacity-5"></span>
                </div>
            </a>
            <a href="ui-checkbox.html">
                <div class="bg-white dark:bg-gray-800 text-gray-900 dark:text-white border border-gray-100 dark:border-gray-700 rounded-xl relative overflow-hidden cursor-pointer transition duration-300 ease-in-out group/range">
                    <img class="h-[150px] bg-gray-100 dark:bg-gray-900 dark:opacity-50 p-4 w-full object-cover object-center" src={% static 'assets/images/components/checkbox.png' %} alt="Checkbox">
                    <h6 class="p-4 text-6 text-center">Checkbox</h6>
                    <span class="absolute inset-0 bg-current opacity-0 group-hover/range:opacity-5"></span>
                </div>
            </a>
            <a href="ui-chip.html">
                <div class="bg-white dark:bg-gray-800 text-gray-900 dark:text-white border border-gray-100 dark:border-gray-700 rounded-xl relative overflow-hidden cursor-pointer transition duration-300 ease-in-out group/range">
                    <img class="h-[150px] bg-gray-100 dark:bg-gray-900 dark:opacity-50 p-4 w-full object-cover object-center" src={% static 'assets/images/components/chip.png' %} alt="Chip">
                    <h6 class="p-4 text-6 text-center">Chip</h6>
                    <span class="absolute inset-0 bg-current opacity-0 group-hover/range:opacity-5"></span>
                </div>
            </a>
            <a href="ui-data-grid.html">
                <div class="bg-white dark:bg-gray-800 text-gray-900 dark:text-white border border-gray-100 dark:border-gray-700 rounded-xl relative overflow-hidden cursor-pointer transition duration-300 ease-in-out group/range">
                    <img class="h-[150px] bg-gray-100 dark:bg-gray-900 dark:opacity-50 p-4 w-full object-cover object-center" src={% static 'assets/images/components/data-grid.png' %} alt="Data Grid">
                    <h6 class="p-4 text-6 text-center">Data Grid</h6>
                    <span class="absolute inset-0 bg-current opacity-0 group-hover/range:opacity-5"></span>
                </div>
            </a>
            <a href="ui-dialog.html">
                <div class="bg-white dark:bg-gray-800 text-gray-900 dark:text-white border border-gray-100 dark:border-gray-700 rounded-xl relative overflow-hidden cursor-pointer transition duration-300 ease-in-out group/range">
                    <img class="h-[150px] bg-gray-100 dark:bg-gray-900 dark:opacity-50 p-4 w-full object-cover object-center" src={% static 'assets/images/components/dialog.png' %} alt="Dialog">
                    <h6 class="p-4 text-6 text-center">Dialog</h6>
                    <span class="absolute inset-0 bg-current opacity-0 group-hover/range:opacity-5"></span>
                </div>
            </a>
            <a href="ui-list.html">
                <div class="bg-white dark:bg-gray-800 text-gray-900 dark:text-white border border-gray-100 dark:border-gray-700 rounded-xl relative overflow-hidden cursor-pointer transition duration-300 ease-in-out group/range">
                    <img class="h-[150px] bg-gray-100 dark:bg-gray-900 dark:opacity-50 p-4 w-full object-cover object-center" src={% static 'assets/images/components/list.png' %} alt="List">
                    <h6 class="p-4 text-6 text-center">List</h6>
                    <span class="absolute inset-0 bg-current opacity-0 group-hover/range:opacity-5"></span>
                </div>
            </a>
            <a href="ui-menu.html">
                <div class="bg-white dark:bg-gray-800 text-gray-900 dark:text-white border border-gray-100 dark:border-gray-700 rounded-xl relative overflow-hidden cursor-pointer transition duration-300 ease-in-out group/range">
                    <img class="h-[150px] bg-gray-100 dark:bg-gray-900 dark:opacity-50 p-4 w-full object-cover object-center" src={% static 'assets/images/components/menu.png' %} alt="Menu">
                    <h6 class="p-4 text-6 text-center">Menu</h6>
                    <span class="absolute inset-0 bg-current opacity-0 group-hover/range:opacity-5"></span>
                </div>
            </a>
            <a href="ui-pagination.html">
                <div class="bg-white dark:bg-gray-800 text-gray-900 dark:text-white border border-gray-100 dark:border-gray-700 rounded-xl relative overflow-hidden cursor-pointer transition duration-300 ease-in-out group/range">
                    <img class="h-[150px] bg-gray-100 dark:bg-gray-900 dark:opacity-50 p-4 w-full object-cover object-center" src={% static 'assets/images/components/pagination.png' %} alt="Pagination">
                    <h6 class="p-4 text-6 text-center">Pagination</h6>
                    <span class="absolute inset-0 bg-current opacity-0 group-hover/range:opacity-5"></span>
                </div>
            </a>
            <a href="ui-pickers.html">
                <div class="bg-white dark:bg-gray-800 text-gray-900 dark:text-white border border-gray-100 dark:border-gray-700 rounded-xl relative overflow-hidden cursor-pointer transition duration-300 ease-in-out group/range">
                    <img class="h-[150px] bg-gray-100 dark:bg-gray-900 dark:opacity-50 p-4 w-full object-cover object-center" src={% static 'assets/images/components/pickers.png' %} alt="Pickers">
                    <h6 class="p-4 text-6 text-center">Pickers</h6>
                    <span class="absolute inset-0 bg-current opacity-0 group-hover/range:opacity-5"></span>
                </div>
            </a>
            <a href="ui-popover.html">
                <div class="bg-white dark:bg-gray-800 text-gray-900 dark:text-white border border-gray-100 dark:border-gray-700 rounded-xl relative overflow-hidden cursor-pointer transition duration-300 ease-in-out group/range">
                    <img class="h-[150px] bg-gray-100 dark:bg-gray-900 dark:opacity-50 p-4 w-full object-cover object-center" src={% static 'assets/images/components/popover.png' %} alt="Popover">
                    <h6 class="p-4 text-6 text-center">Popover</h6>
                    <span class="absolute inset-0 bg-current opacity-0 group-hover/range:opacity-5"></span>
                </div>
            </a>
            <a href="ui-progress.html">
                <div class="bg-white dark:bg-gray-800 text-gray-900 dark:text-white border border-gray-100 dark:border-gray-700 rounded-xl relative overflow-hidden cursor-pointer transition duration-300 ease-in-out group/range">
                    <img class="h-[150px] bg-gray-100 dark:bg-gray-900 dark:opacity-50 p-4 w-full object-cover object-center" src={% static 'assets/images/components/progress.png' %} alt="Progress">
                    <h6 class="p-4 text-6 text-center">Progress</h6>
                    <span class="absolute inset-0 bg-current opacity-0 group-hover/range:opacity-5"></span>
                </div>
            </a>
            <a href="ui-radio-button.html">
                <div class="bg-white dark:bg-gray-800 text-gray-900 dark:text-white border border-gray-100 dark:border-gray-700 rounded-xl relative overflow-hidden cursor-pointer transition duration-300 ease-in-out group/range">
                    <img class="h-[150px] bg-gray-100 dark:bg-gray-900 dark:opacity-50 p-4 w-full object-cover object-center" src={% static 'assets/images/components/radio-button.png' %} alt="Radio Button">
                    <h6 class="p-4 text-6 text-center">Radio Button</h6>
                    <span class="absolute inset-0 bg-current opacity-0 group-hover/range:opacity-5"></span>
                </div>
            </a>
            <a href="ui-rating.html">
                <div class="bg-white dark:bg-gray-800 text-gray-900 dark:text-white border border-gray-100 dark:border-gray-700 rounded-xl relative overflow-hidden cursor-pointer transition duration-300 ease-in-out group/range">
                    <img class="h-[150px] bg-gray-100 dark:bg-gray-900 dark:opacity-50 p-4 w-full object-cover object-center" src={% static 'assets/images/components/rating.png' %} alt="Rating">
                    <h6 class="p-4 text-6 text-center">Rating</h6>
                    <span class="absolute inset-0 bg-current opacity-0 group-hover/range:opacity-5"></span>
                </div>
            </a>
            <a href="ui-slider.html">
                <div class="bg-white dark:bg-gray-800 text-gray-900 dark:text-white border border-gray-100 dark:border-gray-700 rounded-xl relative overflow-hidden cursor-pointer transition duration-300 ease-in-out group/range">
                    <img class="h-[150px] bg-gray-100 dark:bg-gray-900 dark:opacity-50 p-4 w-full object-cover object-center" src={% static 'assets/images/components/slider.png' %} alt="Slider">
                    <h6 class="p-4 text-6 text-center">Slider</h6>
                    <span class="absolute inset-0 bg-current opacity-0 group-hover/range:opacity-5"></span>
                </div>
            </a>
            <a href="ui-snackbar.html">
                <div class="bg-white dark:bg-gray-800 text-gray-900 dark:text-white border border-gray-100 dark:border-gray-700 rounded-xl relative overflow-hidden cursor-pointer transition duration-300 ease-in-out group/range">
                    <img class="h-[150px] bg-gray-100 dark:bg-gray-900 dark:opacity-50 p-4 w-full object-cover object-center" src={% static 'assets/images/components/tree-view.png' %} alt="Snackbar">
                    <h6 class="p-4 text-6 text-center">Snackbar</h6>
                    <span class="absolute inset-0 bg-current opacity-0 group-hover/range:opacity-5"></span>
                </div>
            </a>
            <a href="ui-stepper.html">
                <div class="bg-white dark:bg-gray-800 text-gray-900 dark:text-white border border-gray-100 dark:border-gray-700 rounded-xl relative overflow-hidden cursor-pointer transition duration-300 ease-in-out group/range">
                    <img class="h-[150px] bg-gray-100 dark:bg-gray-900 dark:opacity-50 p-4 w-full object-cover object-center" src={% static 'assets/images/components/stepper.png' %} alt="Stepper">
                    <h6 class="p-4 text-6 text-center">Stepper</h6>
                    <span class="absolute inset-0 bg-current opacity-0 group-hover/range:opacity-5"></span>
                </div>
            </a>
            <a href="ui-switch.html">
                <div class="bg-white dark:bg-gray-800 text-gray-900 dark:text-white border border-gray-100 dark:border-gray-700 rounded-xl relative overflow-hidden cursor-pointer transition duration-300 ease-in-out group/range">
                    <img class="h-[150px] bg-gray-100 dark:bg-gray-900 dark:opacity-50 p-4 w-full object-cover object-center" src={% static 'assets/images/components/switch.png' %} alt="Switch">
                    <h6 class="p-4 text-6 text-center">Switch</h6>
                    <span class="absolute inset-0 bg-current opacity-0 group-hover/range:opacity-5"></span>
                </div>
            </a>
            <a href="ui-table.html">
                <div class="bg-white dark:bg-gray-800 text-gray-900 dark:text-white border border-gray-100 dark:border-gray-700 rounded-xl relative overflow-hidden cursor-pointer transition duration-300 ease-in-out group/range">
                    <img class="h-[150px] bg-gray-100 dark:bg-gray-900 dark:opacity-50 p-4 w-full object-cover object-center" src={% static 'assets/images/components/table.png' %} alt="Table">
                    <h6 class="p-4 text-6 text-center">Table</h6>
                    <span class="absolute inset-0 bg-current opacity-0 group-hover/range:opacity-5"></span>
                </div>
            </a>
            <a href="ui-tabs.html">
                <div class="bg-white dark:bg-gray-800 text-gray-900 dark:text-white border border-gray-100 dark:border-gray-700 rounded-xl relative overflow-hidden cursor-pointer transition duration-300 ease-in-out group/range">
                    <img class="h-[150px] bg-gray-100 dark:bg-gray-900 dark:opacity-50 p-4 w-full object-cover object-center" src={% static 'assets/images/components/tabs.png' %} alt="Tabs">
                    <h6 class="p-4 text-6 text-center">Tabs</h6>
                    <span class="absolute inset-0 bg-current opacity-0 group-hover/range:opacity-5"></span>
                </div>
            </a>
            <a href="ui-textfield.html">
                <div class="bg-white dark:bg-gray-800 text-gray-900 dark:text-white border border-gray-100 dark:border-gray-700 rounded-xl relative overflow-hidden cursor-pointer transition duration-300 ease-in-out group/range">
                    <img class="h-[150px] bg-gray-100 dark:bg-gray-900 dark:opacity-50 p-4 w-full object-cover object-center" src={% static 'assets/images/components/textfield.png' %} alt="Textfield">
                    <h6 class="p-4 text-6 text-center">Textfield</h6>
                    <span class="absolute inset-0 bg-current opacity-0 group-hover/range:opacity-5"></span>
                </div>
            </a>
            <a href="ui-timeline.html">
                <div class="bg-white dark:bg-gray-800 text-gray-900 dark:text-white border border-gray-100 dark:border-gray-700 rounded-xl relative overflow-hidden cursor-pointer transition duration-300 ease-in-out group/range">
                    <img class="h-[150px] bg-gray-100 dark:bg-gray-900 dark:opacity-50 p-4 w-full object-cover object-center" src={% static 'assets/images/components/timeline.png' %} alt="Timeline">
                    <h6 class="p-4 text-6 text-center">Timeline</h6>
                    <span class="absolute inset-0 bg-current opacity-0 group-hover/range:opacity-5"></span>
                </div>
            </a>
            <a href="ui-tooltip.html">
                <div class="bg-white dark:bg-gray-800 text-gray-900 dark:text-white border border-gray-100 dark:border-gray-700 rounded-xl relative overflow-hidden cursor-pointer transition duration-300 ease-in-out group/range">
                    <img class="h-[150px] bg-gray-100 dark:bg-gray-900 dark:opacity-50 p-4 w-full object-cover object-center" src={% static 'assets/images/components/tooltip.png' %} alt="Tooltip">
                    <h6 class="p-4 text-6 text-center">Tooltip</h6>
                    <span class="absolute inset-0 bg-current opacity-0 group-hover/range:opacity-5"></span>
                </div>
            </a>
            <a href="ui-transfer-list.html">
                <div class="bg-white dark:bg-gray-800 text-gray-900 dark:text-white border border-gray-100 dark:border-gray-700 rounded-xl relative overflow-hidden cursor-pointer transition duration-300 ease-in-out group/range">
                    <img class="h-[150px] bg-gray-100 dark:bg-gray-900 dark:opacity-50 p-4 w-full object-cover object-center" src={% static 'assets/images/components/transfer-list.png' %} alt="Transfer List">
                    <h6 class="p-4 text-6 text-center">Transfer List</h6>
                    <span class="absolute inset-0 bg-current opacity-0 group-hover/range:opacity-5"></span>
                </div>
            </a>
            <a href="ui-tree-view.html">
                <div class="bg-white dark:bg-gray-800 text-gray-900 dark:text-white border border-gray-100 dark:border-gray-700 rounded-xl relative overflow-hidden cursor-pointer transition duration-300 ease-in-out group/range">
                    <img class="h-[150px] bg-gray-100 dark:bg-gray-900 dark:opacity-50 p-4 w-full object-cover object-center" src={% static 'assets/images/components/tree-view.png' %} alt="Tree View">
                    <h6 class="p-4 text-6 text-center">Tree View</h6>
                    <span class="absolute inset-0 bg-current opacity-0 group-hover/range:opacity-5"></span>
                </div>
            </a>
        </div>

    </div>
   </div>
{% endblock content %}