{% extends "partials/main-layout.html" %} {% load static %}
{% block title %}
<title>Create Product | QuickFrame - Admin & Dashboards Templates</title>
{% endblock title %}
{% block content %}

  <div class="grid grid-cols-12 gap-6 mt-6" x-data="formData()">
    <div class="col-span-12">
      <div class="card card-dark">
        <div class="card-body ">
          <div class="flex items-center gap-3 mb-6">
            <div class="bg-primary-100 p-1.5 rounded-md w-10">
              <svg class="fill-primary-500 MuiSvgIcon-root MuiSvgIcon-fontSizeMedium css-sm0m28" focusable="false" aria-hidden="true" viewBox="0 0 24 24">
                <path d="M22.5,10h-4L12.73,2.3a.77.77,0,0,0-.6-.3h-.26a.77.77,0,0,0-.6.3L5.5,10h-4a.5.5,0,0,0-.5.5v1a.5.5,0,0,0,.5.5H2l1.71,7.65A3,3,0,0,0,6.6,22H17.4a3,3,0,0,0,2.92-2.35L22,12h.47a.5.5,0,0,0,.5-.5v-1A.5.5,0,0,0,22.5,10ZM8,10l4-5.33L16,10Z"></path>
              </svg>
            </div>
            <p class="font-semibold text-16">Create New Product</p>
          </div>
          <div class="grid grid-cols-1 gap-6 lg:grid-cols-2">
            <div>
              <p class="mb-6 font-semibold text-16">Main Parameters</p>
              <form class="grid grid-cols-1 md:grid-cols-2 gap-4 *:relative *:group" >
                <div class="relative z-0 w-full group">
                  <input type="text" name="name" id="name" :class="{'border-red-500 ': form4.errors.manufacturer , 'border-gray-200  , dark:border-gray-600': !form4.errors.manufacturer}" class="block w-full p-3 text-sm text-gray-900 bg-transparent border rounded-lg appearance-none peer hover:border-black focus:border-primary-500 dark:hover:border-white dark:text-white dark:focus:border-primary-500 focus:outline-none focus:ring-0" placeholder="" required x-model="form4.manufacturer" @input="validateField('manufacturer')" />
                  <label for="name" :class="{'text-red-500': form4.errors.manufacturer , 'text-gray-500 , dark:text-gray-400': !form4.errors.manufacturer}" class="absolute text-sm px-1 ltr:ml-2 rtl:mr-2 text-gray-900  duration-300 transform -translate-y-6 scale-75 top-3 bg-white dark:bg-gray-800 z-10 origin-[0] peer-focus:font-medium peer-focus:text-primary-500 peer-focus:dark:text-primary-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6 ">Manufacturer</label>
                  <span x-show="form4.errors.manufacturer" x-text="form4.errors.manufacturer" class="mt-1 px-3 text-xs text-error-500"></span>
                </div>
                <div class="relative z-0 w-full group">
                  <input type="text" name="text" id="text" :class="{'border-red-500': form4.errors.model , 'border-gray-200 , dark:border-gray-600': !form4.errors.model}" class="block w-full p-3 text-sm text-gray-900 bg-transparent border rounded-lg appearance-none peer hover:border-black dark:hover:border-white dark:text-white dark:focus:border-primary-500 focus:outline-none focus:ring-0 focus:border-primary-500" placeholder="" required  x-model="form4.model" @input="validateField('model')"/>
                  <label for="name" :class="{'text-red-500': form4.errors.model , 'text-gray-500 , dark:text-gray-400': !form4.errors.model}" class="absolute text-sm px-1 ltr:ml-2 rtl:mr-2 text-gray-900 duration-300 transform -translate-y-6 scale-75 top-3 bg-white dark:bg-gray-800 z-10 origin-[0] peer-focus:font-medium peer-focus:text-primary-500 peer-focus:dark:text-primary-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Model</label>
                  <span x-show="form4.errors.model" x-text="form4.errors.model" class="mt-1 px-3 text-xs text-error-500"></span>
                </div>
                <!-- ID Number -->
                <div class="relative z-0 w-full group">
                  <input type="number" name="number" id="number" :class="{'border-red-500': form4.errors.idNumber , 'border-gray-200 , dark:border-gray-600': !form4.errors.idNumber}" class="[&::-webkit-inner-spin-button]:appearance-none peer block p-3 rounded-lg w-full text-sm text-gray-900 bg-transparent border  hover:border-black dark:hover:border-white appearance-none dark:text-white  dark:focus:border-primary-500 focus:outline-none focus:ring-0 focus:border-primary-500" placeholder="" required  x-model="form4.idNumber" @input="validateField('idNumber')"/>
                  <label for="number" :class="{'text-red-500': form4.errors.idNumber , 'text-gray-500 , dark:text-gray-400': !form4.errors.idNumber}" class="absolute text-sm px-1 ltr:ml-2 rtl:mr-2 text-gray-900 duration-300 transform -translate-y-6 scale-75 top-3 bg-white dark:bg-gray-800 z-10 origin-[0] peer-focus:font-medium peer-focus:text-primary-500 peer-focus:dark:text-primary-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">ID Number</label>
                  <span x-show="form4.errors.idNumber" x-text="form4.errors.idNumber" class="mt-1 px-3 text-xs text-error-500"></span>
                </div>
                <div class="relative z-0 w-full group">
                  <input type="text" name="text" id="text" :class="{'border-red-500': form4.errors.priority , 'border-gray-200 , dark:border-gray-600': !form4.errors.priority}" class="block w-full p-3 text-sm text-gray-900 bg-transparent border rounded-lg appearance-none peer hover:border-black dark:hover:border-white dark:text-white dark:focus:border-primary-500 focus:outline-none focus:ring-0 focus:border-primary-500" placeholder="" required  x-model="form4.priority" @input="validateField('priority')"/>
                  <label for="name" :class="{'text-red-500': form4.errors.priority , 'text-gray-500 , dark:text-gray-400': !form4.errors.priority}" class="absolute text-sm px-1 ltr:ml-2 rtl:mr-2 text-gray-900 duration-300 transform -translate-y-6 scale-75 top-3 bg-white dark:bg-gray-800 z-10 origin-[0] peer-focus:font-medium peer-focus:text-primary-500 peer-focus:dark:text-primary-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Priority</label>
                  <span x-show="form4.errors.priority" x-text="form4.errors.priority" class="mt-1 px-3 text-xs text-error-500"></span>
                </div>
                <!-- name -->
                <div class="relative z-0 w-full group">
                  <select id="countries" name="countries" class="block w-full p-3 text-sm text-gray-900 border-gray-200 bg-transparent border rounded-lg appearance-none peer dark:text-white dark:border-gray-600 dark:focus:border-primary-600 focus:outline-none focus:ring-0 hover:border-black dark:hover:border-white focus:border-primary-600 dark:bg-gray-800" >
                    <option>Electronics</option>
                    <option>Gadget</option>
                    <option>Shoes</option>
                  </select>
                  <label for="number" class="absolute text-sm px-1 ltr:ml-2 rtl:mr-2 text-gray-900 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 bg-white dark:bg-gray-800 z-10 origin-[0] peer-focus:font-medium peer-focus:text-primary-500 peer-focus:dark:text-primary-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Name</label>
                </div>
                <div class="relative z-0 w-full group">
                  <input type="text" name="text" id="text" :class="{'border-red-500': form4.errors.model , 'border-gray-200 , dark:border-gray-600': !form4.errors.model}" class="block w-full p-3 text-sm text-gray-900 bg-transparent border rounded-lg appearance-none peer hover:border-black dark:hover:border-white dark:text-white dark:focus:border-primary-500 focus:outline-none focus:ring-0 focus:border-primary-500" placeholder="" required  x-model="form4.model" @input="validateField('model')"/>
                  <label for="name" :class="{'text-red-500': form4.errors.model , 'text-gray-500, dark:text-gray-400': !form4.errors.model}" class="absolute text-sm px-1 ltr:ml-2 rtl:mr-2 text-gray-900 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 bg-white dark:bg-gray-800 z-10 origin-[0] peer-focus:font-medium peer-focus:text-primary-500 peer-focus:dark:text-primary-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Model</label>                    
                  <span x-show="form4.errors.model" x-text="form4.errors.model" class="mt-1 px-3 text-xs text-error-500"></span>
                </div>
                <div class="relative z-0 w-full group md:col-span-2">
                  <input type="text" name="text" id="text" class="block w-full p-3 text-sm text-gray-900 bg-transparent border border-gray-200 rounded-lg appearance-none peer hover:border-black dark:hover:border-white dark:text-white dark:border-gray-600 dark:focus:border-primary-500 focus:outline-none focus:ring-0 focus:border-primary-500" placeholder="" required  x-model="form4.metaTitle" @input="validateField('metaTitle')"/>
                  <label for="name" class="absolute text-sm px-1 ltr:ml-2 rtl:mr-2 text-gray-900 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 bg-white dark:bg-gray-800 z-10 origin-[0] peer-focus:font-medium peer-focus:text-primary-500 peer-focus:dark:text-primary-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Meta Title</label>
                </div>
                <div class="relative z-0 w-full group md:col-span-2">
                  <input type="text" name="text" id="text" class="block w-full p-3 text-sm text-gray-900 bg-transparent border border-gray-200 rounded-lg appearance-none peer hover:border-black dark:hover:border-white dark:text-white dark:border-gray-600 dark:focus:border-primary-500 focus:outline-none focus:ring-0 focus:border-primary-500" placeholder="" required />
                  <label for="name" class="absolute text-sm px-1 ltr:ml-2 rtl:mr-2 text-gray-900 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 bg-white dark:bg-gray-800 z-10 origin-[0] peer-focus:font-medium peer-focus:text-primary-500 peer-focus:dark:text-primary-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Meta Tag</label>
                  
                </div>
                <div class="relative z-0 w-full group md:col-span-2">
                  <input type="text" name="text" id="text" class="block w-full p-3 text-sm text-gray-900 bg-transparent border border-gray-200 rounded-lg appearance-none peer hover:border-black dark:hover:border-white dark:text-white dark:border-gray-600 dark:focus:border-primary-500 focus:outline-none focus:ring-0 focus:border-primary-500" placeholder="" required />
                  <label for="name" class="absolute text-sm px-1 ltr:ml-2 rtl:mr-2 text-gray-900 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 bg-white dark:bg-gray-800 z-10 origin-[0] peer-focus:font-medium peer-focus:text-primary-500 peer-focus:dark:text-primary-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Meta Description</label>
                  
                </div>
              </form>
            </div>
            <div>
              <p class="mb-6 font-semibold text-16">Prices and Warehouses</p>
              <form class="grid grid-cols-1 md:grid-cols-2 gap-4 *:relative mb-4 *:group"  @submit.prevent="validateForm">
                <div class="relative z-0 w-full group">
                  <input type="text" name="name" id="name"  class="block w-full p-3 text-sm text-gray-900 bg-transparent border border-gray-200 rounded-lg appearance-none peer hover:border-black focus:border-primary-500 dark:hover:border-white dark:text-white dark:border-gray-600 dark:focus:border-primary-500 focus:outline-none focus:ring-0" placeholder="" required />
                  <label for="name" class="absolute text-sm px-1 ltr:ml-2 rtl:mr-2 text-gray-900 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 bg-white dark:bg-gray-800 z-10 origin-[0] peer-focus:font-medium peer-focus:text-primary-500 peer-focus:dark:text-primary-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6 ">Cost</label>
                  
                </div>
                <div class="relative z-0 w-full group">
                  <input type="text" name="text" id="text" class="block w-full p-3 text-sm text-gray-900 bg-transparent border border-gray-200 rounded-lg appearance-none peer hover:border-black dark:hover:border-white dark:text-white dark:border-gray-600 dark:focus:border-primary-500 focus:outline-none focus:ring-0 focus:border-primary-500" placeholder="" required />
                  <label for="name" class="absolute text-sm px-1 ltr:ml-2 rtl:mr-2 text-gray-900 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 bg-white dark:bg-gray-800 z-10 origin-[0] peer-focus:font-medium peer-focus:text-primary-500 peer-focus:dark:text-primary-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Extra</label>
                </div>
                <!-- ID Number -->
                <div class="relative z-0 w-full group">
                  <input type="number" name="number" id="number" class="[&::-webkit-inner-spin-button]:appearance-none peer block p-3 rounded-lg w-full text-sm text-gray-900 bg-transparent border border-gray-200 hover:border-black dark:hover:border-white appearance-none dark:text-white dark:border-gray-600 dark:focus:border-primary-500 focus:outline-none focus:ring-0 focus:border-primary-500" placeholder="" required />
                  <label for="number" class="absolute text-sm px-1 ltr:ml-2 rtl:mr-2 text-gray-900 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 bg-white dark:bg-gray-800 z-10 origin-[0] peer-focus:font-medium peer-focus:text-primary-500 peer-focus:dark:text-primary-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Price</label>
                  
                </div>
                <div class="relative z-0 w-full group">
                  <input type="text" name="text" id="text" class="block w-full p-3 text-sm text-gray-900 bg-transparent border border-gray-200 rounded-lg appearance-none peer hover:border-black dark:hover:border-white dark:text-white dark:border-gray-600 dark:focus:border-primary-500 focus:outline-none focus:ring-0 focus:border-primary-500" placeholder="" required />
                  <label for="name" class="absolute text-sm px-1 ltr:ml-2 rtl:mr-2 text-gray-900 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 bg-white dark:bg-gray-800 z-10 origin-[0] peer-focus:font-medium peer-focus:text-primary-500 peer-focus:dark:text-primary-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Availability</label>
                  
                </div>
              </form>
              <!-- editor classes -->
              <div id="editor" class="ql-container ql-snow editor-custom !rounded-t-none rounded-b-lg border !border-gray-200 dark:!border-gray-600 focus:ring-0 focus:border-primary-500" style="height: 220px; padding: 10px;"></div>
            </div>
          </div>
        </div>
      </div>
      <a href="#!" class="block p-8 text-center border border-gray-400 border-dashed cursor-pointer card card-dark dark:border-dark-15">
        <label for="dropzone-file">
          <svg class="w-10 mx-auto fill-gray-500 dark:fill-dark-15 MuiSvgIcon-root MuiSvgIcon-fontSizeMedium css-1spmvkv" focusable="false" aria-hidden="true" viewBox="0 0 24 24">
            <path d="M17.9,9C17.4,6.2,15,4,12,4c-3.3,0-6,2.7-6,6c-2.8,0-5,2.2-5,5s2.2,5,5,5h11.5c3,0,5.5-2.5,5.5-5.5C23,11.6,20.8,9.2,17.9,9
          z M15.9,12.4l-0.2,0.2c-0.1,0.1-0.2,0.1-0.4,0.1H14v3.8c0,0.3-0.2,0.5-0.5,0.5h-3c-0.3,0-0.5-0.2-0.5-0.5v-3.8H8.7
          c-0.1,0-0.3-0.1-0.4-0.1l-0.2-0.2c-0.2-0.2-0.2-0.5,0-0.7l3.5-3.5c0.2-0.2,0.5-0.2,0.7,0l3.5,3.5C16.1,11.9,16.1,12.2,15.9,12.4z"></path>
          </svg>
          <p class="text-sm text-description">Drop your images here or</p>
          <p class="font-semibold text-16 text-primary-500">Select click to browse</p>
          <input id="dropzone-file" type="file" class="hidden">
        </label>
      </a>
      <div class="flex gap-4 mb-8">
        <button type="submit" class="btn ripple btn-primary " @click="validateForm4()">Create New Product<div class="rippleContainer"></div></button>
        <button class="border-gray-200 btn btn-outline-dark dark:border-gray-600 dark:text-white ">Cancle</button>
      </div>
    </div>

  </div>

{% endblock content %}
{% block js %}
  <script type="module" src={% static 'vite/assets/js/create-product.js' %}></script>
  <script src={% static 'public/js/form-validaton.js' %}></script>
{% endblock js %}