{% extends "partials/main-layout.html" %} {% load static %}
{% block title %}
<title>Dashboard Analytics 2 | QuickFrame - Admin & Dashboards Templates</title>
{% endblock title %}
{% block content %}
      
  <div class="grid grid-rows-1 lg:grid-cols-3 gap-x-6 mt-3">
    <div class="card card-dark h-[calc(100%-24px)]">
      <div class="flex flex-col justify-between h-full card-body">

        <div class="flex items-center justify-between gap-8">
          <div>
            <div class="flex items-center gap-2">
              <h6 class="font-semibold">5.8</h6>
              <p class="bg-success-50 dark:bg-gray-700 rounded-2xl text-xs py-1 px-1.5 text-success-500 font-medium leading-3">+12.5%</p>
            </div>
            <p class="text-gray-500 dark:text-gray-400">Average Positions</p>
          </div>
          <div class="relative inline-flex hs-dropdown">
            <button id="hs-dropdown-with-dividers" type="button" class="hs-dropdown-toggle btn-dark-icon-hover size-[30px]">
              <i class="text-lg text-gray-400 ri-more-2-fill dark:text-gray-300"></i>
            </button>
          
            <div class="hs-dropdown-menu max-h-40 overflow-y-auto transition-[opacity,margin] duration opacity-0 hidden hs-dropdown-open:opacity-100" aria-labelledby="hs-dropdown-with-dividers">
              <div class="p-2">
                <a ripple-opacity="0.3" ripple-color="black" ripple-press-expand-time="1" ripple-release-expand-time="1" ripple-leave-collapse-time="1" class="ripple dropdown-item" href="#">
                  Create
                </a>
                <a ripple-opacity="0.3" ripple-color="black" ripple-press-expand-time="1" ripple-release-expand-time="1" ripple-leave-collapse-time="1" class="ripple dropdown-item" href="#">
                  Edit
                </a>
                <a ripple-opacity="0.3" ripple-color="black" ripple-press-expand-time="1" ripple-release-expand-time="1" ripple-leave-collapse-time="1" class="ripple dropdown-item" href="#">
                  Delete
                </a>
              </div>
            </div>
          </div>
        </div>

        <div class="chart-container mb-[15px]">
          <div id="average_positions_chart"></div>
        </div>

      </div>
    </div>
    <div class="lg:col-span-2">
      <div class="overflow-hidden card card-dark">
        
        <div class="md:flex items-center justify-between gap-8 sm:flex-nowrap">
          <div x-data="{ activeTab: 'basic-tabs-2' }">
            <nav class="flex flex-col md:flex-row gap-2">
              
              <button 
                type="button" 
                class="nav-item rounded-b-xl !p-6 text-start hs-tab-active:bg-gray-50 dark:hs-tab-active:bg-gray-700 dark:text-gray-400"
                x-on:click="activeTab = 'basic-tabs-1'"
                x-bind:class="{ 'bg-gray-50 dark:bg-gray-700': activeTab === 'basic-tabs-1' }"
              >
                <p class="font-medium text-gray-500 dark:text-gray-400">Users</p>
                <div class="font-semibold text-gray-900 text-2 dark:text-white">12,060</div>
                <p class="text-success-500 font-medium mt-0.5">+12.5%</p>
              </button>

              <button 
                type="button" 
                class="nav-item rounded-b-xl !p-6 text-start hs-tab-active:bg-gray-50 dark:hs-tab-active:bg-gray-700 dark:text-gray-400"
                x-on:click="activeTab = 'basic-tabs-2'"
                x-bind:class="{ 'bg-gray-50 dark:bg-gray-700': activeTab === 'basic-tabs-2' }"
              >
                <p class="font-medium text-gray-500 dark:text-gray-400">Sessions</p>
                <div class="font-semibold text-gray-900 text-2 dark:text-white">30,000</div>
                <p class="text-success-500 font-medium mt-0.5">+5.56%</p>
              </button>

              <button 
                type="button" 
                class="nav-item rounded-b-xl !p-6 text-start hs-tab-active:bg-gray-50 dark:hs-tab-active:bg-gray-700 dark:text-gray-400"
                x-on:click="activeTab = 'basic-tabs-3'"
                x-bind:class="{ 'bg-gray-50 dark:bg-gray-700': activeTab === 'basic-tabs-3' }"
              >
                <p class="font-medium text-gray-500 dark:text-gray-400">Bounce Rate</p>
                <div class="font-semibold text-gray-900 text-2 dark:text-white">53%</div>
                <p class="text-error-500 font-medium mt-0.5">-1.5%</p>
              </button>

              <button 
                type="button" 
                class="nav-item rounded-b-xl !p-6 text-start hs-tab-active:bg-gray-50 dark:hs-tab-active:bg-gray-700 dark:text-gray-400"
                x-on:click="activeTab = 'basic-tabs-4'"
                x-bind:class="{ 'bg-gray-50 dark:bg-gray-700': activeTab === 'basic-tabs-4' }"
              >
                <p class="font-medium text-gray-500 dark:text-gray-400">Session Duration</p>
                <div class="font-semibold text-gray-900 text-2 dark:text-white">3m 10s</div>
                <p class="text-error-500 font-medium mt-0.5">-10.5%</p>
              </button>

            </nav>
          </div>
          <div class="relative inline-flex hs-dropdown me-6">
            <button id="hs-dropdown-with-dividers" type="button" class="hs-dropdown-toggle btn-dark-icon-hover size-11">
              <i class="text-lg text-gray-400 ri-more-2-fill dark:text-gray-300"></i>
            </button>
          
            <div class="hs-dropdown-menu max-h-40 overflow-y-auto transition-[opacity,margin] duration opacity-0 hidden hs-dropdown-open:opacity-100" aria-labelledby="hs-dropdown-with-dividers">
              <div class="p-2">
                <a ripple-opacity="0.3" ripple-color="black" ripple-press-expand-time="1" ripple-release-expand-time="1" ripple-leave-collapse-time="1" class="ripple dropdown-item" href="#">
                  Create
                </a>
                <a ripple-opacity="0.3" ripple-color="black" ripple-press-expand-time="1" ripple-release-expand-time="1" ripple-leave-collapse-time="1" class="ripple dropdown-item" href="#">
                  Edit
                </a>
                <a ripple-opacity="0.3" ripple-color="black" ripple-press-expand-time="1" ripple-release-expand-time="1" ripple-leave-collapse-time="1" class="ripple dropdown-item" href="#">
                  Delete
                </a>
              </div>
            </div>
          </div>
        </div>
        
        <div class="card-body">
          <div id="apex_area1" class="apex-charts mb-[15px]" dir="ltr"></div>      
        </div>
      </div>
    </div>
  </div>

  <div class="grid grid-cols-1 grid-rows-1 lg:grid-cols-3 gap-x-6">
    <div class="lg:col-span-2">
      <div class="card card-dark">
        <div class="card-body !pb-0">
          
          <div class="flex items-center justify-between gap-8 mb-8">
            <div>
              <div class="flex items-center gap-2">
                <h6 class="font-semibold">1,352</h6>
                <p class="bg-success-50 dark:bg-gray-700 rounded-2xl text-xs py-1 px-1.5 text-success-500 font-medium leading-3">+12.5%</p>
              </div>
              <p class="text-gray-500 dark:text-gray-400">Visits by Top Referral Source</p>
            </div>
            <div class="relative inline-flex hs-dropdown">
              <button id="hs-dropdown-with-dividers" type="button" class="hs-dropdown-toggle btn-dark-icon-hover size-[30px]">
                <i class="text-lg text-gray-400 ri-more-2-fill dark:text-gray-300"></i>
              </button>
            
              <div class="hs-dropdown-menu max-h-40 overflow-y-auto transition-[opacity,margin] duration opacity-0 hidden hs-dropdown-open:opacity-100" aria-labelledby="hs-dropdown-with-dividers">
                <div class="p-2">
                  <a ripple-opacity="0.3" ripple-color="black" ripple-press-expand-time="1" ripple-release-expand-time="1" ripple-leave-collapse-time="1" class="ripple dropdown-item" href="#">
                    Create
                  </a>
                  <a ripple-opacity="0.3" ripple-color="black" ripple-press-expand-time="1" ripple-release-expand-time="1" ripple-leave-collapse-time="1" class="ripple dropdown-item" href="#">
                    Edit
                  </a>
                  <a ripple-opacity="0.3" ripple-color="black" ripple-press-expand-time="1" ripple-release-expand-time="1" ripple-leave-collapse-time="1" class="ripple dropdown-item" href="#">
                    Delete
                  </a>
                </div>
              </div>
            </div>
          </div>

          <div class="overflow-auto" data-simplebar>
            <table class="table-bordered">
              <thead>
                <tr>
                  <th>REFERRAL SOURCE</th>
                  <th class="text-center">BOUNDCE RATE (%)</th>
                  <th class="text-center">VISIT</th>
                  <th class="text-end">CHART</th>
                </tr>
              </thead>
              <tbody class="*:font-semibold *:text-sm *:h-24">
                <tr>
                  <td>
                    <div class="flex items-center gap-3">
                      <img class="size-10" src={% static 'assets/images/social-media/dribble.svg' %} alt="dribble">
                      <div class="flex flex-col justify-between gap-0.5">
                        <h6 class="text-sm text-gray-900 dark:text-white">Dribbble</h6>
                        <p class="text-xs font-normal">Community</p>
                      </div>
                    </div>
                  </td>
                  <td class="text-center">
                    <p>70%</p>
                  </td>
                  <td class="text-center">
                    <p>12,350</p>
                  </td>
                  <td>
                    <div class="flex justify-end">
                      <div class="max-w-20" id="referral_source_chart1"></div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="flex items-center gap-3">
                      <img class="size-10" src={% static 'assets/images/social-media/linkedin.svg' %} alt="linkedin">
                      <div class="flex flex-col justify-between gap-0.5">
                        <h6 class="text-sm text-gray-900 dark:text-white">Linked In</h6>
                        <p class="text-xs font-normal">Social Media</p>
                      </div>
                    </div>
                  </td>
                  <td class="text-center">
                    <p>60%</p>
                  </td>
                  <td class="text-center">
                    <p>10,275</p>
                  </td>
                  <td>
                    <div class="flex justify-end">
                      <div class="max-w-20" id="referral_source_chart2"></div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="flex items-center gap-3">
                      <img class="size-10" src={% static 'assets/images/social-media/twitter.svg' %} alt="Twitter">
                      <div class="flex flex-col justify-between gap-0.5">
                        <h6 class="text-sm text-gray-900 dark:text-white">Twitter</h6>
                        <p class="text-xs font-normal">Social Media</p>
                      </div>
                    </div>
                  </td>
                  <td class="text-center">
                    <p>50%</p>
                  </td>
                  <td class="text-center">
                    <p>20,348</p>
                  </td>
                  <td>
                    <div class="flex justify-end">
                      <div class="max-w-20" id="referral_source_chart3"></div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          
        </div>
      </div>
    </div>
    <div class="lg:col-start-3">
      <div class="card card-dark">
        <div class="card-body">
          
          <div class="flex items-center justify-between gap-8">
            <h6 class="text-lg font-medium">Session by browser</h6>
            <div class="relative inline-flex hs-dropdown">
              <button id="hs-dropdown-with-dividers" type="button" class="hs-dropdown-toggle btn-dark-icon-hover size-[30px]">
                <i class="text-lg text-gray-400 ri-more-2-fill dark:text-gray-300"></i>
              </button>
            
              <div class="hs-dropdown-menu max-h-40 overflow-y-auto transition-[opacity,margin] duration opacity-0 hidden hs-dropdown-open:opacity-100" aria-labelledby="hs-dropdown-with-dividers">
                <div class="p-2">
                  <a ripple-opacity="0.3" ripple-color="black" ripple-press-expand-time="1" ripple-release-expand-time="1" ripple-leave-collapse-time="1" class="ripple dropdown-item" href="#">
                    Create
                  </a>
                  <a ripple-opacity="0.3" ripple-color="black" ripple-press-expand-time="1" ripple-release-expand-time="1" ripple-leave-collapse-time="1" class="ripple dropdown-item" href="#">
                    Edit
                  </a>
                  <a ripple-opacity="0.3" ripple-color="black" ripple-press-expand-time="1" ripple-release-expand-time="1" ripple-leave-collapse-time="1" class="ripple dropdown-item" href="#">
                    Delete
                  </a>
                </div>
              </div>
            </div>
          </div>
          
        </div>

        <div class="pb-4 mt-6">
          <div id="browser_session_chart"></div> 
        </div>

        <div class="overflow-auto" data-simplebar>
          <table class="table-bordered">
            <tbody>
              <tr>
                <td>
                  <div class="flex items-center gap-2 ps-6 min-w-28">
                    <img class="size-[30px]" src={% static 'assets/images/browser/chrome.svg' %} alt="chrome">
                    <p class="font-medium">Chrome</p>
                  </div>
                </td>
                <td>
                  <div class="flex items-center justify-center gap-2">
                    <span class="rounded-full size-2 bg-primary-500"></span>
                    <p class="text-sm font-medium text-gray-500 dark:text-gray-400">60%</p>
                  </div>
                </td>
                <td class="text-success-500 pe-6">3.19%</td>
              </tr>
              <tr>
                <td>
                  <div class="flex items-center gap-2 ps-6 min-w-28">
                    <img class="size-[30px]" src={% static 'assets/images/browser/opera.svg' %} alt="Opera Mini">
                    <p class="font-medium">Opera Mini</p>
                  </div>
                </td>
                <td>
                  <div class="flex items-center justify-center gap-2">
                    <span class="rounded-full size-2 bg-success-500"></span>
                    <p class="text-sm font-medium text-gray-500 dark:text-gray-400">10%</p>
                  </div>
                </td>
                <td class="text-error-500 pe-6">-1.98%</td>
              </tr>
              <tr>
                <td>
                  <div class="flex items-center gap-2 ps-6 min-w-28">
                    <img class="size-[30px]" src={% static 'assets/images/browser/mozilla.svg' %} alt="mozilla">
                    <p class="font-medium">Mozilla</p>
                  </div>
                </td>
                <td>
                  <div class="flex items-center justify-center gap-2">
                    <span class="bg-gray-400 rounded-full size-2"></span>
                    <p class="text-sm font-medium text-gray-500 dark:text-gray-400">30%</p>
                  </div>
                </td>
                <td class="text-success-500 pe-6">2.23%</td>
              </tr>
            </tbody>
          </table>
        </div>
      
      </div>
    </div>
  </div>

  <div class="grid grid-rows-1 lg:grid-cols-4 gap-x-6">
    <div>
      <div class="overflow-hidden card card-dark">
        <div class="card-body !pb-0">

          <div class="flex items-center gap-2">
            <h6 class="font-semibold leading-[42px]">41,352</h6>
            <p class="bg-primary-50 dark:bg-gray-700 rounded-2xl text-xs py-1 px-1.5 text-primary-500 font-medium leading-3">+12.5%</p>
          </div>
          <p class="text-gray-500 dark:text-gray-400">Completed Goals</p>
        
        </div>
        
        <div class="chart-container">
          <div id="completed_goals_chart" class="complete-chart"></div>
        </div>
      
      </div>

      <div class="overflow-hidden card card-dark">
        <div class="card-body !pb-0">

          <div class="flex items-center gap-2">
            <h6 class="font-semibold leading-[42px]">55%</h6>
            <p class="bg-success-50 dark:bg-gray-700 rounded-2xl text-xs py-1 px-1.5 text-success-500 font-medium leading-3">+12.5%</p>
          </div>
          <p class="text-gray-500 dark:text-gray-400">Complete Rates</p>
        
        </div>
        
        <div class="chart-container">
          <div id="completed_rates_chart" class="complete-chart"></div>
        </div>
      
      </div>
    </div>
    <div class="lg:col-span-3">
      <div class="card card-dark">
        <div class="overflow-hidden card-body">

          <div class="flex items-center justify-between gap-8">
            <div>
              <h6 class="text-lg font-medium">Sales by Country</h6>
              <p class="text-gray-500 dark:text-gray-400">Top 7 Countries</p>
            </div>
            <div class="relative inline-flex hs-dropdown">
              <button id="hs-dropdown-with-dividers" type="button" class="hs-dropdown-toggle btn-dark-icon-hover size-9">
                <i class="text-lg text-gray-400 ri-more-2-fill dark:text-gray-300"></i>
              </button>
            
              <div class="hs-dropdown-menu max-h-40 overflow-y-auto transition-[opacity,margin] duration opacity-0 hidden hs-dropdown-open:opacity-100" aria-labelledby="hs-dropdown-with-dividers">
                <div class="p-2">
                  <a ripple-opacity="0.3" ripple-color="black" ripple-press-expand-time="1" ripple-release-expand-time="1" ripple-leave-collapse-time="1" class="ripple dropdown-item" href="#">
                    Create
                  </a>
                  <a ripple-opacity="0.3" ripple-color="black" ripple-press-expand-time="1" ripple-release-expand-time="1" ripple-leave-collapse-time="1" class="ripple dropdown-item" href="#">
                    Edit
                  </a>
                  <a ripple-opacity="0.3" ripple-color="black" ripple-press-expand-time="1" ripple-release-expand-time="1" ripple-leave-collapse-time="1" class="ripple dropdown-item" href="#">
                    Delete
                  </a>
                </div>
              </div>
            </div>
          </div>

          <div class="grid grid-cols-1 overflow-hidden lg:grid-cols-2">
            <div id="sales_country_chart" class="chat_horizontal"></div>
            <div class="lg:-mb-20 min-h-[220px] overflow-hidden">
              <div id="map"></div>
            </div>
          </div>


        </div>
      </div>
    </div>
  </div>

  <div class="grid grid-cols-1 lg:grid-cols-2 gap-x-6">
    <div class="card card-dark">
      <div class="card-body !pb-2">
        <div class="flex items-center justify-between gap-8 mb-8">
          <div>
            <h6 class="text-lg font-medium">Top performing pages</h6>
            <p class="text-gray-500 dark:text-gray-400">Counted in Millions</p>
          </div>
          <div class="relative inline-flex hs-dropdown">
            <button id="hs-dropdown-with-dividers" type="button" class="hs-dropdown-toggle btn-dark-icon-hover size-[30px]">
              <i class="text-lg text-gray-400 ri-more-2-fill dark:text-gray-300"></i>
            </button>
          
            <div class="hs-dropdown-menu max-h-40 overflow-y-auto transition-[opacity,margin] duration opacity-0 hidden hs-dropdown-open:opacity-100" aria-labelledby="hs-dropdown-with-dividers">
              <div class="p-2">
                <a ripple-opacity="0.3" ripple-color="black" ripple-press-expand-time="1" ripple-release-expand-time="1" ripple-leave-collapse-time="1" class="ripple dropdown-item" href="#">
                  Create
                </a>
                <a ripple-opacity="0.3" ripple-color="black" ripple-press-expand-time="1" ripple-release-expand-time="1" ripple-leave-collapse-time="1" class="ripple dropdown-item" href="#">
                  Edit
                </a>
                <a ripple-opacity="0.3" ripple-color="black" ripple-press-expand-time="1" ripple-release-expand-time="1" ripple-leave-collapse-time="1" class="ripple dropdown-item" href="#">
                  Delete
                </a>
              </div>
            </div>
          </div>
        </div>

        <div class="overflow-auto" data-simplebar>
          <table class="table-bordered">
            <thead>
              <tr>
                <th>PAGES</th>
                <th>CLICKS</th>
                <th class="text-center">VIEWS</th>
              </tr>
            </thead>
            <tbody>
              <tr class="*:text-gray-900 *:dark:text-white *:font-medium">
                <td>https://onion.com</td>
                <td>
                  <div class="flex items-center gap-3">
                    1,369
                    <p class="text-sm text-error-500">-165</p>
                  </div>
                </td>
                <td class="text-center">50M</td>
              </tr>
              <tr class="*:text-gray-900 *:dark:text-white *:font-medium">
                <td>https://onion/analytic.com</td>
                <td>
                  <div class="flex items-center gap-3">
                    1,003
                    <p class="text-sm text-success-500">+528</p>
                  </div>
                </td>
                <td class="text-center">28M</td>
              </tr>
              <tr class="*:text-gray-900 *:dark:text-white *:font-medium">
                <td>https://onion/ecommerce.com</td>
                <td>
                  <div class="flex items-center gap-3">
                    1,987 
                    <p class="text-sm text-success-500">+898</p>
                  </div>
                </td>
                <td class="text-center">63M</td>
              </tr>
              <tr class="*:text-gray-900 *:dark:text-white *:font-medium">
                <td>https://onion/crm.com</td>
                <td>
                  <div class="flex items-center gap-3">
                    1,462 
                    <p class="text-sm text-error-500">-369</p>
                  </div>
                </td>
                <td class="text-center">50M</td>
              </tr>
              <tr class="*:text-gray-900 *:dark:text-white *:font-medium">
                <td>https://onion/finance.com</td>
                <td>
                  <div class="flex items-center gap-3">                  	
                    986 
                    <p class="text-sm text-error-500">-479</p>
                  </div>
                </td>
                <td class="text-center">70M</td>
              </tr>
              <tr class="*:text-gray-900 *:dark:text-white *:font-medium">
                <td>https://onion/projectm.com</td>
                <td>
                  <div class="flex items-center gap-3">
                    1,028
                    <p class="text-sm text-success-500">+669</p>
                  </div>
                </td>
                <td class="text-center">75M</td>
              </tr>
              <tr class="*:text-gray-900 *:dark:text-white *:font-medium">
                <td>https://onion/logistics.com</td>
                <td>
                  <div class="flex items-center gap-3">                     	
                    369
                    <p class="text-sm text-success-500">+215</p>
                  </div>
                </td>
                <td class="text-center">25M</td>
              </tr>
            </tbody>
          </table>
        </div>

      </div>
    </div>
    <div class="card card-dark">
      <div class="card-body !pb-2">
        <div class="flex items-center justify-between gap-8 mb-8">
          <div>
            <h6 class="text-lg font-medium">Top Queries</h6>
            <p class="text-gray-500 dark:text-gray-400">Counted in Millions</p>
          </div>
          <div class="relative inline-flex hs-dropdown">
            <button id="hs-dropdown-with-dividers" type="button" class="hs-dropdown-toggle btn-dark-icon-hover size-[30px]">
              <i class="text-lg text-gray-400 ri-more-2-fill dark:text-gray-300"></i>
            </button>
          
            <div class="hs-dropdown-menu max-h-40 overflow-y-auto transition-[opacity,margin] duration opacity-0 hidden hs-dropdown-open:opacity-100" aria-labelledby="hs-dropdown-with-dividers">
              <div class="p-2">
                <a ripple-opacity="0.3" ripple-color="black" ripple-press-expand-time="1" ripple-release-expand-time="1" ripple-leave-collapse-time="1" class="ripple dropdown-item" href="#">
                  Create
                </a>
                <a ripple-opacity="0.3" ripple-color="black" ripple-press-expand-time="1" ripple-release-expand-time="1" ripple-leave-collapse-time="1" class="ripple dropdown-item" href="#">
                  Edit
                </a>
                <a ripple-opacity="0.3" ripple-color="black" ripple-press-expand-time="1" ripple-release-expand-time="1" ripple-leave-collapse-time="1" class="ripple dropdown-item" href="#">
                  Delete
                </a>
              </div>
            </div>
          </div>
        </div>

        <div class="overflow-auto" data-simplebar>
          <table class="table-bordered">
            <thead>
              <tr>
                <th>KEYWORDS</th>
                <th>CLICKS</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="font-medium text-gray-500">Admin Dashboard</td>
                <td class="font-semibold text-gray-900 dark:text-white">
                  <div class="flex items-center gap-4">
                    1,369
                    <div class="flex w-full min-w-16 h-1.5 bg-gray-200 rounded-full overflow-hidden dark:bg-gray-700" role="progressbar" id="determinate" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                      <div class="flex flex-col justify-center w-11/12 overflow-hidden text-xs text-center text-white transition duration-300 ease-in-out  transition-width bg-primary-500 whitespace-nowrap"></div>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <td class="font-medium text-gray-500">Top Admin Dashboard</td>
                <td class="font-semibold text-gray-900 dark:text-white">
                  <div class="flex items-center gap-4">
                    1,003
                    <div class="flex w-full min-w-16 h-1.5 bg-gray-200 rounded-full overflow-hidden dark:bg-gray-700" role="progressbar" id="determinate" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                      <div class="flex flex-col justify-center w-10/12 overflow-hidden text-xs text-center text-white transition duration-300 ease-in-out  transition-width bg-primary-500 whitespace-nowrap"></div>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <td class="font-medium text-gray-500">Admin Panel</td>
                <td class="font-semibold text-gray-900 dark:text-white">
                  <div class="flex items-center gap-4">
                    1,987
                    <div class="flex w-full min-w-16 h-1.5 bg-gray-200 rounded-full overflow-hidden dark:bg-gray-700" role="progressbar" id="determinate" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                      <div class="flex flex-col justify-center w-11/12 overflow-hidden text-xs text-center text-white transition duration-300 ease-in-out  transition-width bg-primary-500 whitespace-nowrap"></div>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <td class="font-medium text-gray-500">Analytics Dashboard</td>
                <td class="font-semibold text-gray-900 dark:text-white">
                  <div class="flex items-center gap-4">
                    1,462
                    <div class="flex w-full min-w-16 h-1.5 bg-gray-200 rounded-full overflow-hidden dark:bg-gray-700" role="progressbar" id="determinate" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                      <div class="flex flex-col justify-center w-8/12 overflow-hidden text-xs text-center text-white transition duration-300 ease-in-out  transition-width bg-primary-500 whitespace-nowrap"></div>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <td class="font-medium text-gray-500">Minimal Dashboard</td>
                <td class="font-semibold text-gray-900 dark:text-white">
                  <div class="flex items-center gap-4">
                    986
                    <div class="flex w-full min-w-16 h-1.5 bg-gray-200 rounded-full overflow-hidden dark:bg-gray-700" role="progressbar" id="determinate" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                      <div class="flex flex-col justify-center w-9/12 overflow-hidden text-xs text-center text-white transition duration-300 ease-in-out  transition-width bg-primary-500 whitespace-nowrap"></div>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <td class="font-medium text-gray-500">Clean UI Template</td>
                <td class="font-semibold text-gray-900 dark:text-white">
                  <div class="flex items-center gap-4">
                    1,028
                    <div class="flex w-full min-w-16 h-1.5 bg-gray-200 rounded-full overflow-hidden dark:bg-gray-700" role="progressbar" id="determinate" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                      <div class="flex flex-col justify-center w-10/12 overflow-hidden text-xs text-center text-white transition duration-300 ease-in-out  transition-width bg-primary-500 whitespace-nowrap"></div>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <td class="font-medium text-gray-500">Logistics Dashboard</td>
                <td class="font-semibold text-gray-900 dark:text-white">
                  <div class="flex items-center gap-4">
                    369
                    <div class="flex w-full min-w-16 h-1.5 bg-gray-200 rounded-full overflow-hidden dark:bg-gray-700" role="progressbar" id="determinate" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                      <div class="flex flex-col justify-center w-11/12 overflow-hidden text-xs text-center text-white transition duration-300 ease-in-out  transition-width bg-primary-500 whitespace-nowrap"></div>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      
      </div>
    </div>
  </div>

{% endblock content %}
{% block js %}
  <script type="module" src={% static 'vite/assets/js/dashboard-analytics-2.js' %}></script>
{% endblock js %}