{% extends "partials/component-layout.html" %} {% load static %}
{% block title %}
<title>Faqs | QuickFrame - Admin & Dashboards Templates</title>
{% endblock title %}
{% block content %}
  <div class="py-12 bg-[linear-gradient(270.02deg,rgb(14,20,33)55.41%,rgb(39,11,99)100.36%)] text-white">
    <div class="container">
      <div class="grid gap-x-4 gap-y-8 grid-cols-1 lg:grid-cols-2 items-center">
        <div>
          <h2 class="text-center text-[42px] sm:text-[52px] font-bold leading-[63px] sm:leading-[78px] mb-6">
            How can we help you?
          </h2>
          <div class="relative bg-white text-gray-500 rounded-lg max-w-[450px] mx-auto">
            <i class="ri-search-line absolute start-3 top-1/2 -translate-y-1/2 text-xl leading-none"></i>
            <input type="text" class="form-input form-input-sm !ps-10 placeholder:opacity-50" placeholder="Search Questions">
          </div>
        </div>
        <div class="text-center w-full">
          <img class="text-center mx-auto" src={% static 'assets/images/about-page/faq.svg' %} alt="career">
        </div>
      </div>
    </div>

  </div>
  <div class="py-24">
    <div class="container">
      <h2 class="text-[42px] sm:text-[52px] font-bold leading-[63px] sm:leading-[78px] mb-12">
        Frequently asked questions
      </h2>
      <div class="grid grid-cols-12 lg:gap-10">
        <div class="col-span-12 lg:col-span-7 xl:col-span-8">
          <div class="hs-accordion-group tw-accordion space-y-4" data-hs-accordion-always-open>
            <div class="hs-accordion border !border-gray-100 dark:!border-gray-700 dark:!bg-gray-800 !bg-transparent active" id="hs-basic-heading-two">
              <button class="hs-accordion-toggle hs-accordion-active:text-gray-700 dark:hs-accordion-active:text-gray-100">
                <p class="text-sm font-semibold text-gray-700 text-left dark:text-white">
                  What is project management software?
                </p>
                <i class="ri-arrow-down-s-line text-16 hs-accordion-active:hidden hidden"></i>
                <i class="ri-arrow-up-s-line text-16 hs-accordion-active:block block"></i>
              </button>
              <div id="hs-basic-heading-two" class="hs-accordion-content block">
                <div class="mt-4 space-y-3 text-sm font-normal text-gray-700 dark:text-gray-400">
                  <p>
                    Project management software helps teams to stay organized and on track by providing a central hub for project information, task assignment, & progress tracking. It also facilitates communication & collaboration between team members, reducing the risk of miscommunication.
                  </p>
                  <p>
                    Project management software helps teams to stay organized and on track by providing a central hub for project information, task assignment, & progress tracking. It also facilitates communication & collaboration between team members, reducing the risk of miscommunication.
                  </p>
                  <p>
                    Project management software helps teams to stay organized and on track by providing a central hub for project information, task assignment, & progress tracking. It also facilitates communication & collaboration between team members, reducing the risk of miscommunication.
                  </p>
                </div>
              </div>
            </div>
            
            <div class="hs-accordion border !border-gray-100 dark:!border-gray-700 dark:!bg-gray-800 !bg-transparent" id="hs-basic-heading-11">
              <button class="hs-accordion-toggle hs-accordion-active:text-gray-700 dark:hs-accordion-active:text-gray-100">
                <p class="text-sm font-semibold text-gray-700 text-left dark:text-white">
                  How does project management software help teams?
                </p>
                <i class="ri-arrow-down-s-line text-16 hs-accordion-active:hidden block"></i>
                <i class="ri-arrow-up-s-line text-16 hs-accordion-active:block hidden"></i>
              </button>
              <div id="hs-basic-heading-11" class="hs-accordion-content hidden">
                <div class="mt-4 text-sm font-normal text-gray-700 dark:text-gray-400">
                  <p>
                    Project management software helps teams to stay organized and on track by providing a central hub for project information, task assignment, & progress tracking. It also facilitate communication & collaboration between team members, reducing the risk miscommunication.
                  </p>
                </div>
              </div>
            </div>
            <div class="hs-accordion border !border-gray-100 dark:!border-gray-700 dark:!bg-gray-800 !bg-transparent" id="hs-basic-heading-22">
              <button class="hs-accordion-toggle hs-accordion-active:text-gray-700 dark:hs-accordion-active:text-gray-100">
                <p class="text-sm font-semibold text-gray-700 text-left dark:text-white">
                  What features should I look for in project management software?
                </p>
                <i class="ri-arrow-down-s-line text-16 hs-accordion-active:hidden block"></i>
                <i class="ri-arrow-up-s-line text-16 hs-accordion-active:block hidden"></i>
              </button>
              <div id="hs-basic-heading-22" class="hs-accordion-content hidden">
                <div class="mt-4 text-sm font-normal text-gray-700 dark:text-gray-400">
                  <p>
                    Project management software helps teams to stay organized and on track by providing a central hub for project information, task assignment, & progress tracking. It also facilitate communication & collaboration between team members, reducing the risk miscommunication.
                  </p>
                </div>
              </div>
            </div>
            <div class="hs-accordion border !border-gray-100 dark:!border-gray-700 dark:!bg-gray-800 !bg-transparent" id="hs-basic-heading-33">
              <button class="hs-accordion-toggle hs-accordion-active:text-gray-700 dark:hs-accordion-active:text-gray-100">
                <p class="text-sm font-semibold text-gray-700 text-left dark:text-white">
                  Is project management software easy to use?
                </p>
                <i class="ri-arrow-down-s-line text-16 hs-accordion-active:hidden block"></i>
                <i class="ri-arrow-up-s-line text-16 hs-accordion-active:block hidden"></i>
              </button>
              <div id="hs-basic-heading-33" class="hs-accordion-content hidden">
                <div class="mt-4 text-sm font-normal text-gray-700 dark:text-gray-400">
                  <p>
                    Project management software helps teams to stay organized and on track by providing a central hub for project information, task assignment, & progress tracking. It also facilitate communication & collaboration between team members, reducing the risk miscommunication.
                  </p>
                </div>
              </div>
            </div>
            <div class="hs-accordion border !border-gray-100 dark:!border-gray-700 dark:!bg-gray-800 !bg-transparent" id="hs-basic-heading-44">
              <button class="hs-accordion-toggle hs-accordion-active:text-gray-700 dark:hs-accordion-active:text-gray-100">
                <p class="text-sm font-semibold text-gray-700 text-left dark:text-white">
                  Is project management software easy to use?
                </p>
                <i class="ri-arrow-down-s-line text-16 hs-accordion-active:hidden block"></i>
                <i class="ri-arrow-up-s-line text-16 hs-accordion-active:block hidden"></i>
              </button>
              <div id="hs-basic-heading-44" class="hs-accordion-content hidden">
                <div class="mt-4 text-sm font-normal text-gray-700 dark:text-gray-400">
                  <p>
                    Project management software helps teams to stay organized and on track by providing a central hub for project information, task assignment, & progress tracking. It also facilitate communication & collaboration between team members, reducing the risk miscommunication.
                  </p>
                </div>
              </div>
            </div>
            <div class="hs-accordion border !border-gray-100 dark:!border-gray-700 dark:!bg-gray-800 !bg-transparent" id="hs-basic-heading-55">
              <button class="hs-accordion-toggle hs-accordion-active:text-gray-700 dark:hs-accordion-active:text-gray-100">
                <p class="text-sm font-semibold text-gray-700 text-left dark:text-white">
                  Can project management software be used by remote teams?
                </p>
                <i class="ri-arrow-down-s-line text-16 hs-accordion-active:hidden block"></i>
                <i class="ri-arrow-up-s-line text-16 hs-accordion-active:block hidden"></i>
              </button>
              <div id="hs-basic-heading-55" class="hs-accordion-content hidden">
                <div class="mt-4 text-sm font-normal text-gray-700 dark:text-gray-400">
                  <p>
                    Project management software helps teams to stay organized and on track by providing a central hub for project information, task assignment, & progress tracking. It also facilitate communication & collaboration between team members, reducing the risk miscommunication.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-span-12 lg:col-span-5 xl:col-span-4 mt-6 lg:mt-0">
          <img src={% static 'assets/images/about-page/faq.png' %} class="rounded-2xl border-4 border-white dark:border-gray-900 shadow-md w-full" alt="">
        </div>
      </div>
    </div>
  </div>
{% endblock content %}