{% extends "partials/auth-layout.html" %} {% load static %}
{% block title %}
<title>Forgot Password | QuickFrame - Admin & Dashboards Templates</title>
{% endblock title %}
{% block content %}

<div class="relative min-h-screen">
  <div class="min-h-screen bg-white dark:bg-gray-800 dark:text-white flex text-center items-center justify-center h-full">
    <div class="p-4 lg:p-8 max-w-[550px]">
      <img class="mx-auto" src={% static 'assets/images/forget-password.png' %} alt="forget-password">
      <h5 class="text-2xl md:text-3xl font-semibold mt-4">Forgot your password?</h5>
      <p class="mt-2 mb-10 text-sm leading-[21px] text-gray-500 dark:text-gray-400 px-8">Please enter the email address associated with your
        account and We will email you a link to reset your password.</p>
      <form x-data="{ 
        email: '', 
        emailError: false,
        hasInteractedWithEmail: false,
        validateField(field) {
          const emailPattern = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
          this.emailError = !emailPattern.test(this.email);
        },
        validateAllFields() {
            this.hasInteractedWithEmail = true;
            this.validateField('email');
        },
        validateAndSubmit() {
            this.validateAllFields();
        }
      }" @submit.prevent="validateAndSubmit">
        <div>
          <div>
              <input type="email" id="emailInput" x-model="email" @blur="hasInteractedWithEmail = true; validateField('email')" :class="{ 'form-input form-input-sm !px-3.5 !leading-[18px]': true, '!border-error-500': emailError && hasInteractedWithEmail, 'focus:!ring-error-500': emailError && hasInteractedWithEmail }" value="demo@example.com" placeholder="Email" >
              <p x-show="emailError && hasInteractedWithEmail" class="mt-1 px-3.5 text-xs text-error-500 text-start leading-5">Email is Required!</p>
          </div>
          <button type="submit" ripple-opacity="0.3" ripple-color="white" class="btn ripple btn-primary w-full mt-6 text-sm font-semibold leading-6">Send Link</button>
          <a href="register.html">
            <p class="mt-6 text-sm text-gray-500 dark:text-gray-400 leading-[21px] flex items-center justify-center"> <i class="ri-arrow-left-s-line text-xl"></i> Back to Sign In </p>
          </a>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock content %}