{% extends "partials/page-layout.html" %} {% load static %}
{% block title %}
<title>Career Apply Page | QuickFrame - Admin & Dashboards Templates</title>
{% endblock title %}
{% block content %}

  <div class="max-w-[900px] mx-auto py-6">

    <div class="card card-dark">
      <div class="card-body">
        <h6 class="text-16 leading-6 font-semibold">Apply for this Job</h6>
        <p class="text-gray-500 dark:text-gray-400 mb-6">You sit down. You stare at your screen. The cursor blinks</p>
        
        <form x-data="{ 
          email: '', 
          lname: '', 
          phone: '', 
          fname: '', 
          file: null,
          emailError: false,
          lnameError: false,
          phoneError: false,
          fnameError: false,
          validateAndSubmit() {
              const emailPattern = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
              this.emailError = !emailPattern.test(this.email);
              this.lnameError = this.lname.trim() === '';
              this.fnameError = this.fname.trim() === '';
              this.phoneError = this.phone.trim() === '';
            }
          }" @submit.prevent="validateAndSubmit" class="space-y-6">
          <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
            <div>
                <input type="text" x-model="fname" :class="{ 'form-input form-input-sm !px-3.5 !leading-[18px] placeholder:opacity-50': true, '!border-error-500': fnameError, 'focus:!ring-error-500': fnameError }" placeholder="First Name*">
                <p x-show="fnameError" class="mt-1 px-3.5 text-xs text-error-500 leading-5">First Name is Required!</p>
            </div>
            <div>
                <input type="text" id="nameInput" x-model="lname" 
                      :class="{
                          'form-input form-input-sm !px-3.5 !leading-[18px] placeholder:opacity-50': true,
                          '!border-error-500': lnameError,
                          'focus:!ring-error-500': lnameError
                      }"
                      placeholder="Last Name*">
                <p x-show="lnameError" class="mt-1 px-3.5 text-xs text-error-500 leading-5">Last Name is Required!</p>
            </div>
            <div>
                <input type="text" id="emailInput" x-model="email" :class="{ 'form-input form-input-sm !px-3.5 !leading-[18px] placeholder:opacity-50': true, '!border-error-500': emailError, 'focus:!ring-error-500': emailError }" placeholder="Email*">
                <p x-show="emailError" class="mt-1 px-3.5 text-xs text-error-500 leading-5">Email is Required!</p>
            </div>
            <div>
                <input type="number" id="messageInput" x-model="phone" 
                          :class="{
                              'form-input [&::-webkit-inner-spin-button]:appearance-none form-input-sm !px-3.5 !leading-[18px] placeholder:opacity-50': true,
                              '!border-error-500': phoneError,
                              'focus:!ring-error-500': phoneError
                          }"
                          placeholder="Phone*" />
                <p x-show="phoneError" class="mt-1 px-3.5 text-xs text-error-500 leading-5">Phone is required!</p>
            </div>
          </div>
          <select class="bg-transparent relative flex items-center gap-x-2 text-nowrap w-full cursor-pointer border py-[11px] ps-[14px] pe-[43px] text-sm border-gray-200 text-gray-900 hover:border-gray-900 dark:hover:border-white rounded-lg focus:border-primary-500 dark:focus:border-primary-500 focus:ring-primary-500 dark:bg-gray-800 dark:border-gray-700 dark:text-white dark:placeholder-gray-500 dark:focus:ring-primary-500">
            <option value="ui-ux" selected>UI/UX Designer</option>
            <option value="front-end">Front End Developer</option>
            <option value="software">Software Engineer</option>
          </select>
          <input type="text" class="form-input form-input-sm !px-3.5 !leading-[18px] placeholder:opacity-50" placeholder="Website (if any)">
          <input type="text" class="form-input form-input-sm !px-3.5 !leading-[18px] placeholder:opacity-50" placeholder="Portfolio*">

          <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
            <input type="number" class="[&::-webkit-inner-spin-button]:appearance-none form-input form-input-sm !px-3.5 !leading-[18px] placeholder:opacity-50" placeholder="Age*">
            <input type="number" class="[&::-webkit-inner-spin-button]:appearance-none form-input form-input-sm !px-3.5 !leading-[18px] placeholder:opacity-50" placeholder="Expected Salary*">
          </div>

          <div class="p-8 rounded-2xl text-center cursor-pointer border border-dashed border-gray-400 overflow-hidden flex flex-col justify-center items-center relative">
              <input type="file" @change="file = $event.target.files[0]" class="absolute inset-0 h-full w-full opacity-0 cursor-pointer">
              <svg class="size-[38px] fill-gray-500" focusable="false" aria-hidden="true" viewBox="0 0 24 24">
                  <path d="M17.9,9C17.4,6.2,15,4,12,4c-3.3,0-6,2.7-6,6c-2.8,0-5,2.2-5,5s2.2,5,5,5h11.5c3,0,5.5-2.5,5.5-5.5C23,11.6,20.8,9.2,17.9,9 z M15.9,12.4l-0.2,0.2c-0.1,0.1-0.2,0.1-0.4,0.1H14v3.8c0,0.3-0.2,0.5-0.5,0.5h-3c-0.3,0-0.5-0.2-0.5-0.5v-3.8H8.7c-0.1,0-0.3-0.1-0.4-0.1l-0.2-0.2c-0.2-0.2-0.2-0.5,0-0.7l3.5-3.5c0.2-0.2,0.5-0.2,0.7,0l3.5,3.5C16.1,11.9,16.1,12.2,15.9,12.4z"></path>
              </svg>
              <p class="text-gray-500 dark:text-gray-400 mt-2">Drop your images here or</p>
              <h6 class="text-primary-500 text-16 leading-6 font-semibold">Select click to browse</h6>
          </div>

          <div class="flex items-center gap-4 mt-6">
              <button type="submit" ripple-opacity="0.3" ripple-color="white" class="btn ripple btn-primary">Apply</button>
              <button type="button" ripple-opacity="0.3" ripple-color="black" class="btn ripple btn-outline-secondary dark:bg-transparent border-gray-200 hover:bg-transparent dark:border-gray-700 text-black hover:text-black dark:text-white dark:hover:border-white">Cancel</button>
          </div>
        </form>
        
      </div>
    </div>

  </div>

{% endblock content %}