{% extends "partials/page-layout.html" %} {% load static %}
{% block title %}
<title>Career Page | QuickFrame - Admin & Dashboards Templates</title>
{% endblock title %}
{% block content %}

      <div class="py-6">
        <h6 class="text-lg leading-[27px] font-semibold">Career List</h6>
        <p class="text-gray-500 dark:text-gray-400 mb-6">You sit down. You stare at your screen. The cursor blinks</p>

        <div class="grid grid-cols-1 md:grid-cols-2 gap-x-6">

          <div class="card card-dark h-max">
            <div class="card-body">
              <h6 class="text-16 leading-6 font-semibold">ReactJS Developer</h6>
              <p class="text-gray-500 dark:text-gray-400 mb-8">First, a disclaimer – the entire process of writing a blog post often takes more than a couple of hours.</p>
              <div class="hs-accordion-group tw-accordion space-y-4" data-hs-accordion-always-open>
                <div class="hs-accordion !border !border-gray-100 dark:!border-gray-700 !py-0 active" id="hs-basic-heading-react-one">
                  <button class="hs-accordion-toggle py-3 hs-accordion-active:text-gray-700 dark:hs-accordion-active:text-gray-100 !leading-[24px]">
                    Requirements
                    <i class="ri-arrow-down-s-line text-16 hs-accordion-active:hidden block"></i>
                    <i class="ri-arrow-up-s-line text-16 hs-accordion-active:block hidden"></i>
                  </button>
                  <div id="hs-basic-collapse-react-one" class="hs-accordion-content">
                    <div class="mt-1 mb-6">
                      <ul class="list-disc pl-4 *:leading-[21px] *:pb-2">
                        <li>Experience with JavaScript.</li>
                        <li>Good time-management skills.</li>
                        <li>Experience with React.</li>
                        <li>Experience with HTML / CSS.</li>
                        <li>Experience with REST API.</li>
                        <li>Git knowledge is a plus.</li>
                      </ul>
                    </div>
                  </div>
                </div>

                <div class="hs-accordion !border !border-gray-100 dark:!border-gray-700 !py-0" id="hs-basic-heading-react-two">
                  <button class="hs-accordion-toggle py-3 hs-accordion-active:text-gray-700 dark:hs-accordion-active:text-gray-100 !leading-[24px]">
                    What is your job role?
                    <i class="ri-arrow-down-s-line text-16 hs-accordion-active:hidden block"></i>
                    <i class="ri-arrow-up-s-line text-16 hs-accordion-active:block hidden"></i>
                  </button>
                  <div id="hs-basic-collapse-react-two" class="hs-accordion-content hidden">
                    <div class="mt-1 mb-6">
                      <ul class="list-disc pl-4 *:leading-[21px] *:pb-2">
                        <li>Experience with JavaScript.</li>
                        <li>Good time-management skills.</li>
                        <li>Experience with React.</li>
                        <li>Experience with HTML / CSS.</li>
                        <li>Experience with REST API.</li>
                        <li>Git knowledge is a plus.</li>
                      </ul>
                    </div>
                  </div>
                </div>

                <div class="hs-accordion !border !border-gray-100 dark:!border-gray-700 !py-0" id="hs-basic-heading-react-three">
                  <button class="hs-accordion-toggle py-3 hs-accordion-active:text-gray-700 dark:hs-accordion-active:text-gray-100 !leading-[24px]">
                    Job Candidate Benefits
                    <i class="ri-arrow-down-s-line text-16 hs-accordion-active:hidden block"></i>
                    <i class="ri-arrow-up-s-line text-16 hs-accordion-active:block hidden"></i>
                  </button>
                  <div id="hs-basic-collapse-react-three" class="hs-accordion-content hidden">
                    <div class="mt-1 mb-6">
                      <ul class="list-disc pl-4 *:leading-[21px] *:pb-2">
                        <li>Experience with JavaScript.</li>
                        <li>Good time-management skills.</li>
                        <li>Experience with React.</li>
                        <li>Experience with HTML / CSS.</li>
                        <li>Experience with REST API.</li>
                        <li>Git knowledge is a plus.</li>
                      </ul>
                    </div>
                  </div>
                </div>

                <div class="hs-accordion !border !border-gray-100 dark:!border-gray-700 !py-0" id="hs-basic-heading-react-four">
                  <button class="hs-accordion-toggle py-3 hs-accordion-active:text-gray-700 dark:hs-accordion-active:text-gray-100 !leading-[24px]">
                    Application Terms
                    <i class="ri-arrow-down-s-line text-16 hs-accordion-active:hidden block"></i>
                    <i class="ri-arrow-up-s-line text-16 hs-accordion-active:block hidden"></i>
                  </button>
                  <div id="hs-basic-collapse-react-four" class="hs-accordion-content hidden">
                    <div class="mt-1 mb-6">
                      <ul class="list-disc pl-4 *:leading-[21px] *:pb-2">
                        <li>Experience with JavaScript.</li>
                        <li>Good time-management skills.</li>
                        <li>Experience with React.</li>
                        <li>Experience with HTML / CSS.</li>
                        <li>Experience with REST API.</li>
                        <li>Git knowledge is a plus.</li>
                      </ul>
                    </div>
                  </div>
                </div>
    
              </div>

              <div class="mt-6 flex items-center gap-4">
                <a href="pages-career-apply.html" ripple-opacity="0.3" ripple-color="white" class="ripple btn btn-primary btn-sm text-13 py-0.5">Apply</a>
                <button ripple-opacity="0.3" ripple-color="black" class="ripple btn btn-sm text-13 py-0.5 btn-outline-secondary dark:bg-transparent border-gray-200 dark:border-gray-700 text-black hover:text-black dark:text-white dark:hover:border-white">Cancel</button>
              </div>
            </div>
          </div>

          <div class="card card-dark h-max">
            <div class="card-body">
              <h6 class="text-16 leading-6 font-semibold">UI and UX Designer</h6>
              <p class="text-gray-500 dark:text-gray-400 mb-8">First, a disclaimer – the entire process of writing a blog post often takes more than a couple of hours.</p>
              <div class="hs-accordion-group tw-accordion space-y-4" data-hs-accordion-always-open>
                <div class="hs-accordion !border !border-gray-100 dark:!border-gray-700 !py-0 active" id="hs-basic-heading-ui-ux-one">
                  <button class="hs-accordion-toggle py-3 hs-accordion-active:text-gray-700 dark:hs-accordion-active:text-gray-100 !leading-[24px]">
                    Requirements
                    <i class="ri-arrow-down-s-line text-16 hs-accordion-active:hidden block"></i>
                    <i class="ri-arrow-up-s-line text-16 hs-accordion-active:block hidden"></i>
                  </button>
                  <div id="hs-basic-collapse-ui-ux-one" class="hs-accordion-content">
                    <div class="mt-1 mb-6">
                      <ul class="list-disc pl-4 *:leading-[21px] *:pb-2">
                        <li>Experience with JavaScript.</li>
                        <li>Good time-management skills.</li>
                        <li>Experience with React.</li>
                        <li>Experience with HTML / CSS.</li>
                        <li>Experience with REST API.</li>
                        <li>Git knowledge is a plus.</li>
                      </ul>
                    </div>
                  </div>
                </div>

                <div class="hs-accordion !border !border-gray-100 dark:!border-gray-700 !py-0" id="hs-basic-heading-ui-ux-two">
                  <button class="hs-accordion-toggle py-3 hs-accordion-active:text-gray-700 dark:hs-accordion-active:text-gray-100 !leading-[24px]">
                    What is your job role?
                    <i class="ri-arrow-down-s-line text-16 hs-accordion-active:hidden block"></i>
                    <i class="ri-arrow-up-s-line text-16 hs-accordion-active:block hidden"></i>
                  </button>
                  <div id="hs-basic-collapse-ui-ux-two" class="hs-accordion-content hidden">
                    <div class="mt-1 mb-6">
                      <ul class="list-disc pl-4 *:leading-[21px] *:pb-2">
                        <li>Experience with JavaScript.</li>
                        <li>Good time-management skills.</li>
                        <li>Experience with React.</li>
                        <li>Experience with HTML / CSS.</li>
                        <li>Experience with REST API.</li>
                        <li>Git knowledge is a plus.</li>
                      </ul>
                    </div>
                  </div>
                </div>

                <div class="hs-accordion !border !border-gray-100 dark:!border-gray-700 !py-0" id="hs-basic-heading-ui-ux-three">
                  <button class="hs-accordion-toggle py-3 hs-accordion-active:text-gray-700 dark:hs-accordion-active:text-gray-100 !leading-[24px]">
                    Job Candidate Benefits
                    <i class="ri-arrow-down-s-line text-16 hs-accordion-active:hidden block"></i>
                    <i class="ri-arrow-up-s-line text-16 hs-accordion-active:block hidden"></i>
                  </button>
                  <div id="hs-basic-collapse-ui-ux-three" class="hs-accordion-content hidden">
                    <div class="mt-1 mb-6">
                      <ul class="list-disc pl-4 *:leading-[21px] *:pb-2">
                        <li>Experience with JavaScript.</li>
                        <li>Good time-management skills.</li>
                        <li>Experience with React.</li>
                        <li>Experience with HTML / CSS.</li>
                        <li>Experience with REST API.</li>
                        <li>Git knowledge is a plus.</li>
                      </ul>
                    </div>
                  </div>
                </div>

                <div class="hs-accordion !border !border-gray-100 dark:!border-gray-700 !py-0" id="hs-basic-heading-ui-ux-four">
                  <button class="hs-accordion-toggle py-3 hs-accordion-active:text-gray-700 dark:hs-accordion-active:text-gray-100 !leading-[24px]">
                    Application Terms
                    <i class="ri-arrow-down-s-line text-16 hs-accordion-active:hidden block"></i>
                    <i class="ri-arrow-up-s-line text-16 hs-accordion-active:block hidden"></i>
                  </button>
                  <div id="hs-basic-collapse-ui-ux-four" class="hs-accordion-content hidden">
                    <div class="mt-1 mb-6">
                      <ul class="list-disc pl-4 *:leading-[21px] *:pb-2">
                        <li>Experience with JavaScript.</li>
                        <li>Good time-management skills.</li>
                        <li>Experience with React.</li>
                        <li>Experience with HTML / CSS.</li>
                        <li>Experience with REST API.</li>
                        <li>Git knowledge is a plus.</li>
                      </ul>
                    </div>
                  </div>
                </div>
    
              </div>

              <div class="mt-6 flex items-center gap-4">
                <a href="pages-career-apply.html" ripple-opacity="0.3" ripple-color="white" class="ripple btn btn-primary btn-sm text-13 py-0.5">Apply</a>
                <button ripple-opacity="0.3" ripple-color="black" class="ripple btn btn-sm text-13 py-0.5 btn-outline-secondary dark:bg-transparent border-gray-200 dark:border-gray-700 text-black hover:text-black dark:text-white dark:hover:border-white">Cancel</button>
              </div>
            </div>
          </div>

          <div class="card card-dark h-max">
            <div class="card-body">
              <h6 class="text-16 leading-6 font-semibold">Front-End Developer</h6>
              <p class="text-gray-500 dark:text-gray-400 mb-8">First, a disclaimer – the entire process of writing a blog post often takes more than a couple of hours.</p>
              <div class="hs-accordion-group tw-accordion space-y-4" data-hs-accordion-always-open>
                <div class="hs-accordion !border !border-gray-100 dark:!border-gray-700 !py-0 active" id="hs-basic-heading-front-end-one">
                  <button class="hs-accordion-toggle py-3 hs-accordion-active:text-gray-700 dark:hs-accordion-active:text-gray-100 !leading-[24px]">
                    Requirements
                    <i class="ri-arrow-down-s-line text-16 hs-accordion-active:hidden block"></i>
                    <i class="ri-arrow-up-s-line text-16 hs-accordion-active:block hidden"></i>
                  </button>
                  <div id="hs-basic-collapse-front-end-one" class="hs-accordion-content">
                    <div class="mt-1 mb-6">
                      <ul class="list-disc pl-4 *:leading-[21px] *:pb-2">
                        <li>Experience with JavaScript.</li>
                        <li>Good time-management skills.</li>
                        <li>Experience with React.</li>
                        <li>Experience with HTML / CSS.</li>
                        <li>Experience with REST API.</li>
                        <li>Git knowledge is a plus.</li>
                      </ul>
                    </div>
                  </div>
                </div>

                <div class="hs-accordion !border !border-gray-100 dark:!border-gray-700 !py-0" id="hs-basic-heading-front-end-two">
                  <button class="hs-accordion-toggle py-3 hs-accordion-active:text-gray-700 dark:hs-accordion-active:text-gray-100 !leading-[24px]">
                    What is your job role?
                    <i class="ri-arrow-down-s-line text-16 hs-accordion-active:hidden block"></i>
                    <i class="ri-arrow-up-s-line text-16 hs-accordion-active:block hidden"></i>
                  </button>
                  <div id="hs-basic-collapse-front-end-two" class="hs-accordion-content hidden">
                    <div class="mt-1 mb-6">
                      <ul class="list-disc pl-4 *:leading-[21px] *:pb-2">
                        <li>Experience with JavaScript.</li>
                        <li>Good time-management skills.</li>
                        <li>Experience with React.</li>
                        <li>Experience with HTML / CSS.</li>
                        <li>Experience with REST API.</li>
                        <li>Git knowledge is a plus.</li>
                      </ul>
                    </div>
                  </div>
                </div>

                <div class="hs-accordion !border !border-gray-100 dark:!border-gray-700 !py-0" id="hs-basic-heading-front-end-three">
                  <button class="hs-accordion-toggle py-3 hs-accordion-active:text-gray-700 dark:hs-accordion-active:text-gray-100 !leading-[24px]">
                    Job Candidate Benefits
                    <i class="ri-arrow-down-s-line text-16 hs-accordion-active:hidden block"></i>
                    <i class="ri-arrow-up-s-line text-16 hs-accordion-active:block hidden"></i>
                  </button>
                  <div id="hs-basic-collapse-front-end-three" class="hs-accordion-content hidden">
                    <div class="mt-1 mb-6">
                      <ul class="list-disc pl-4 *:leading-[21px] *:pb-2">
                        <li>Experience with JavaScript.</li>
                        <li>Good time-management skills.</li>
                        <li>Experience with React.</li>
                        <li>Experience with HTML / CSS.</li>
                        <li>Experience with REST API.</li>
                        <li>Git knowledge is a plus.</li>
                      </ul>
                    </div>
                  </div>
                </div>

                <div class="hs-accordion !border !border-gray-100 dark:!border-gray-700 !py-0" id="hs-basic-heading-front-end-four">
                  <button class="hs-accordion-toggle py-3 hs-accordion-active:text-gray-700 dark:hs-accordion-active:text-gray-100 !leading-[24px]">
                    Application Terms
                    <i class="ri-arrow-down-s-line text-16 hs-accordion-active:hidden block"></i>
                    <i class="ri-arrow-up-s-line text-16 hs-accordion-active:block hidden"></i>
                  </button>
                  <div id="hs-basic-collapse-front-end-four" class="hs-accordion-content hidden">
                    <div class="mt-1 mb-6">
                      <ul class="list-disc pl-4 *:leading-[21px] *:pb-2">
                        <li>Experience with JavaScript.</li>
                        <li>Good time-management skills.</li>
                        <li>Experience with React.</li>
                        <li>Experience with HTML / CSS.</li>
                        <li>Experience with REST API.</li>
                        <li>Git knowledge is a plus.</li>
                      </ul>
                    </div>
                  </div>
                </div>
    
              </div>

              <div class="mt-6 flex items-center gap-4">
                <a href="pages-career-apply.html" ripple-opacity="0.3" ripple-color="white" class="ripple btn btn-primary btn-sm text-13 py-0.5">Apply</a>
                <button ripple-opacity="0.3" ripple-color="black" class="ripple btn btn-sm text-13 py-0.5 btn-outline-secondary dark:bg-transparent border-gray-200 dark:border-gray-700 text-black hover:text-black dark:text-white dark:hover:border-white">Cancel</button>
              </div>
            </div>
          </div>

          <div class="card card-dark h-max">
            <div class="card-body">
              <h6 class="text-16 leading-6 font-semibold">Software Engineer</h6>
              <p class="text-gray-500 dark:text-gray-400 mb-8">First, a disclaimer – the entire process of writing a blog post often takes more than a couple of hours.</p>
              <div class="hs-accordion-group tw-accordion space-y-4" data-hs-accordion-always-open>
                <div class="hs-accordion !border !border-gray-100 dark:!border-gray-700 !py-0 active" id="hs-basic-heading-software-one">
                  <button class="hs-accordion-toggle py-3 hs-accordion-active:text-gray-700 dark:hs-accordion-active:text-gray-100 !leading-[24px]">
                    Requirements
                    <i class="ri-arrow-down-s-line text-16 hs-accordion-active:hidden block"></i>
                    <i class="ri-arrow-up-s-line text-16 hs-accordion-active:block hidden"></i>
                  </button>
                  <div id="hs-basic-collapse-software-one" class="hs-accordion-content">
                    <div class="mt-1 mb-6">
                      <ul class="list-disc pl-4 *:leading-[21px] *:pb-2">
                        <li>Experience with JavaScript.</li>
                        <li>Good time-management skills.</li>
                        <li>Experience with React.</li>
                        <li>Experience with HTML / CSS.</li>
                        <li>Experience with REST API.</li>
                        <li>Git knowledge is a plus.</li>
                      </ul>
                    </div>
                  </div>
                </div>

                <div class="hs-accordion !border !border-gray-100 dark:!border-gray-700 !py-0" id="hs-basic-heading-software-two">
                  <button class="hs-accordion-toggle py-3 hs-accordion-active:text-gray-700 dark:hs-accordion-active:text-gray-100 !leading-[24px]">
                    What is your job role?
                    <i class="ri-arrow-down-s-line text-16 hs-accordion-active:hidden block"></i>
                    <i class="ri-arrow-up-s-line text-16 hs-accordion-active:block hidden"></i>
                  </button>
                  <div id="hs-basic-collapse-software-two" class="hs-accordion-content hidden">
                    <div class="mt-1 mb-6">
                      <ul class="list-disc pl-4 *:leading-[21px] *:pb-2">
                        <li>Experience with JavaScript.</li>
                        <li>Good time-management skills.</li>
                        <li>Experience with React.</li>
                        <li>Experience with HTML / CSS.</li>
                        <li>Experience with REST API.</li>
                        <li>Git knowledge is a plus.</li>
                      </ul>
                    </div>
                  </div>
                </div>

                <div class="hs-accordion !border !border-gray-100 dark:!border-gray-700 !py-0" id="hs-basic-heading-software-three">
                  <button class="hs-accordion-toggle py-3 hs-accordion-active:text-gray-700 dark:hs-accordion-active:text-gray-100 !leading-[24px]">
                    Job Candidate Benefits
                    <i class="ri-arrow-down-s-line text-16 hs-accordion-active:hidden block"></i>
                    <i class="ri-arrow-up-s-line text-16 hs-accordion-active:block hidden"></i>
                  </button>
                  <div id="hs-basic-collapse-software-three" class="hs-accordion-content hidden">
                    <div class="mt-1 mb-6">
                      <ul class="list-disc pl-4 *:leading-[21px] *:pb-2">
                        <li>Experience with JavaScript.</li>
                        <li>Good time-management skills.</li>
                        <li>Experience with React.</li>
                        <li>Experience with HTML / CSS.</li>
                        <li>Experience with REST API.</li>
                        <li>Git knowledge is a plus.</li>
                      </ul>
                    </div>
                  </div>
                </div>

                <div class="hs-accordion !border !border-gray-100 dark:!border-gray-700 !py-0" id="hs-basic-heading-software-four">
                  <button class="hs-accordion-toggle py-3 hs-accordion-active:text-gray-700 dark:hs-accordion-active:text-gray-100 !leading-[24px]">
                    Application Terms
                    <i class="ri-arrow-down-s-line text-16 hs-accordion-active:hidden block"></i>
                    <i class="ri-arrow-up-s-line text-16 hs-accordion-active:block hidden"></i>
                  </button>
                  <div id="hs-basic-collapse-software-four" class="hs-accordion-content hidden">
                    <div class="mt-1 mb-6">
                      <ul class="list-disc pl-4 *:leading-[21px] *:pb-2">
                        <li>Experience with JavaScript.</li>
                        <li>Good time-management skills.</li>
                        <li>Experience with React.</li>
                        <li>Experience with HTML / CSS.</li>
                        <li>Experience with REST API.</li>
                        <li>Git knowledge is a plus.</li>
                      </ul>
                    </div>
                  </div>
                </div>
    
              </div>

              <div class="mt-6 flex items-center gap-4">
                <a href="pages-career-apply.html" ripple-opacity="0.3" ripple-color="white" class="ripple btn btn-primary btn-sm text-13 py-0.5">Apply</a>
                <button ripple-opacity="0.3" ripple-color="black" class="ripple btn btn-sm text-13 py-0.5 btn-outline-secondary dark:bg-transparent border-gray-200 dark:border-gray-700 text-black hover:text-black dark:text-white dark:hover:border-white">Cancel</button>
              </div>
            </div>
          </div>

        </div>
      </div>

{% endblock content %}