{% extends "partials/component-layout.html" %} {% load static %}
{% block title %}
<title>Pricing | QuickFrame - Admin & Dashboards Templates</title>
{% endblock title %}
{% block content %}
   <div class="container">
    <div class="py-16">
      <div class="text-center">
        <h2 class="text-[52px] font-bold leading-[78px] mb-4">Our Flexible Price Plan</h2>
        <p class="text-lg leading-[27px] text-gray-500 dark:text-gray-400">
          Our Free Plan lets you get going right away. Switch
          <br>
          to a Pro plan to get more features.
        </p>
        <div class="flex flex-row items-center justify-center py-12 space-x-6">
          <p class="font-medium leading-6 text-16">MONTHLY</p>
          <label for="togglePrimary01" class="flex items-center cursor-pointer select-none text-dark dark:text-white min-h-[38px]">
            <div class="relative">
                <input type="checkbox" id="togglePrimary01" class="sr-only peer" checked/>
                <div class="block w-[41px] bg-gray-300 rounded-full h-[22px] dark:peer-checked:bg-primary-15 peer-checked:bg-primary-300 dark:bg-gray-600 peer-disabled:opacity-50"></div>
                <div class="absolute transition bg-white rounded-full size-4 left-1 top-1/2 -translate-y-1/2 peer-checked:translate-x-full peer-checked:bg-primary-500 peer-disabled:opacity-50"></div>
            </div>
          </label>
          <p class="font-medium leading-6 text-16">YEARLY (Save 15%)</p>
        </div>
      </div>
      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8">
        <div class="relative border border-gray-100 dark:border-gray-700 bg-white dark:bg-gray-800 p-12 rounded-2xl">
          <p class="text-16 font-semibold uppercase text-gray-500 dark:text-gray-400 leading-6">Basic</p>
          <h2 class="pt-4 pb-8 text-5xl font-bold leading-[72px]">Free</h2>
          <img src={% static 'assets/images/pages/pricing-shape-1.svg' %} alt="pricing-shape">
          <ul class="flex flex-col my-12 space-y-4 dark:text-white">
            <li class="flex items-center gap-2">
              <i class="ri-checkbox-circle-line text-2xl leading-none text-success-500"></i>
              <p class="text-16 leading-6">3 Prototypes</p>
            </li>
            <li class="flex items-center gap-2">
              <i class="ri-checkbox-circle-line text-2xl leading-none text-success-500"></i>
              <p class="text-16 leading-6">3 Boards</p>
            </li>
            <li class="flex items-center gap-2">
              <i class="ri-checkbox-circle-line text-2xl leading-none text-success-500"></i>
              <p class="text-16 leading-6">Single User</p>
            </li>
            <li class="flex items-center gap-2">
              <i class="ri-checkbox-circle-line text-2xl leading-none text-success-500"></i>
              <p class="text-16 leading-6">Normal Security</p>
            </li>
            <li class="flex items-center gap-2">
              <i class="ri-checkbox-circle-line text-2xl leading-none text-success-500"></i>
              <p class="text-16 leading-6">Permissions & Workflows</p>
            </li>
          </ul>
          <button ripple-opacity="0.3" ripple-color="black" class="btn ripple w-full btn-secondary text-gray-900 hover:bg-gray-200 focus:bg-gray-200 dark:text-white bg-gray-main dark:bg-gray-700">Choose Plan</button>
        </div>
        <div class="relative border border-primary-500 dark:border-gray-700 bg-white dark:bg-gray-800 p-12 rounded-2xl">
          <span class="absolute right-5 top-5 bg-primary-500 rounded-full text-13 font-medium leading-8 h-8 text-white px-3">POPULAR</span>
          <p class="text-16 font-semibold uppercase text-gray-500 dark:text-gray-400 leading-6">Standard</p>
          <h2 class="pt-4 pb-8 text-5xl font-bold leading-[72px]">$14 <span class="text-16 font-medium leading-6 text-gray-500 dark:text-gray-400">/month</span></h2>
          <img src={% static 'assets/images/pages/pricing-shape-2.svg' %} alt="pricing-shape">
          <ul class="flex flex-col my-12 space-y-4 dark:text-white">
            <li class="flex items-center gap-2">
              <i class="ri-checkbox-circle-line text-2xl leading-none text-success-500"></i>
              <p class="text-16 leading-6">3 Prototypes</p>
            </li>
            <li class="flex items-center gap-2">
              <i class="ri-checkbox-circle-line text-2xl leading-none text-success-500"></i>
              <p class="text-16 leading-6">3 Boards</p>
            </li>
            <li class="flex items-center gap-2">
              <i class="ri-checkbox-circle-line text-2xl leading-none text-success-500"></i>
              <p class="text-16 leading-6">Up to 5 Team Member</p>
            </li>
            <li class="flex items-center gap-2">
              <i class="ri-checkbox-circle-line text-2xl leading-none text-success-500"></i>
              <p class="text-16 leading-6">Advance Security</p>
            </li>
            <li class="flex items-center gap-2">
              <i class="ri-checkbox-circle-line text-2xl leading-none text-success-500"></i>
              <p class="text-16 leading-6">Permissions & Workflows</p>
            </li>
          </ul>
          <button ripple-opacity="0.3" ripple-color="black" class="btn ripple w-full btn-primary">Choose Plan</button>
        </div>
        <div class="relative border border-gray-100 dark:border-gray-700 bg-white dark:bg-gray-800 p-12 rounded-2xl">
          <p class="text-16 font-semibold uppercase text-gray-500 dark:text-gray-400 leading-6">Enterprise</p>
          <h2 class="pt-4 pb-8 text-5xl font-bold leading-[72px]">$50<span class="text-16 font-medium leading-6 text-gray-500 dark:text-gray-400">/month</span></h2>
          <img src={% static 'assets/images/pages/pricing-shape-3.svg' %} alt="pricing-shape">
          <ul class="flex flex-col my-12 space-y-4 dark:text-white">
            <li class="flex items-center gap-2">
              <i class="ri-checkbox-circle-line text-2xl leading-none text-success-500"></i>
              <p class="text-16 leading-6">5 Prototypes</p>
            </li>
            <li class="flex items-center gap-2">
              <i class="ri-checkbox-circle-line text-2xl leading-none text-success-500"></i>
              <p class="text-16 leading-6">5 Boards</p>
            </li>
            <li class="flex items-center gap-2">
              <i class="ri-checkbox-circle-line text-2xl leading-none text-success-500"></i>
              <p class="text-16 leading-6">Unlimited User</p>
            </li>
            <li class="flex items-center gap-2">
              <i class="ri-checkbox-circle-line text-2xl leading-none text-success-500"></i>
              <p class="text-16 leading-6">Highly Advance Security</p>
            </li>
            <li class="flex items-center gap-2">
              <i class="ri-checkbox-circle-line text-2xl leading-none text-success-500"></i>
              <p class="text-16 leading-6">Permissions & Workflows</p>
            </li>
          </ul>
          <button ripple-opacity="0.3" ripple-color="black" class="btn ripple w-full btn-secondary text-gray-900 hover:bg-gray-200 focus:bg-gray-200 dark:text-white bg-gray-main dark:bg-gray-700">Choose Plan</button>
        </div>
      </div>
    </div>
   </div>
{% endblock content %}