{% extends "partials/component-layout.html" %} {% load static %}
{% block title %}
<title>UI Form Basic | QuickFrame - Admin & Dashboards Templates</title>
{% endblock title %}
{% block content %}
{% with title="Form Basic" %}
{% include "partials/ui-breadcrumb.html" %}
{% endwith %}
<div class="relative min-h-screen">
  <!-- Breadcrumb Start -->
  <div class="bg-gray-50 text-[78px] font-semibold leading-[94px] py-[26px]">
    <div class="container">
      Textfield
    </div>
  </div>
  <!-- Breadcrumb end -->
   <div class="container">

    <div class="py-16">

    </div>
   </div>
</div>
{% endblock content %}