{% extends "partials/component-layout.html" %} {% load static %}
{% block title %}
<title>UI Progress | QuickFrame - Admin & Dashboards Templates</title>
{% endblock title %}
{% block content %}
{% with title="Progress" %}
{% include "partials/ui-breadcrumb.html" %}
{% endwith %}
   <div class="container">

    <div class="py-16">

      <div class="grid grid-cols-1 md:grid-cols-2 gap-6">

        <div class="card component-card">
          <div class="card-body">
            <div class="mb-4 card-title">
              Circular
            </div>

            <div class="flex items-center gap-6 flex-wrap">
              <div class="animate-spin inline-block size-10 border-[3px] border-current border-t-transparent text-primary-500 rounded-full dark:text-white" role="status" aria-label="loading"></div>
              <div class="animate-spin inline-block size-10 border-[3px] border-current border-t-transparent text-warning-500 rounded-full" role="status" aria-label="loading"></div>
              <div class="animate-spin inline-block size-10 border-[3px] border-current border-t-transparent text-error-500 rounded-full" role="status" aria-label="loading"></div>
              <div class="animate-spin inline-block size-10 border-[3px] border-current border-t-transparent text-success-500 rounded-full" role="status" aria-label="loading"></div>
              <div class="animate-spin inline-block size-10 border-[3px] border-current border-t-transparent text-gray-800 rounded-full" role="status" aria-label="loading"></div>
            </div>
          
          </div>
        </div>

        <div class="card component-card">
          <div class="card-body">
            <div class="mb-4 card-title">
              Determinate
            </div>

            <div class="flex items-center flex-wrap gap-6">

              <div class="relative size-10">
                <svg class="size-full -rotate-90" viewBox="0 0 36 36" xmlns="http://www.w3.org/2000/svg">
                  <circle cx="18" cy="18" r="16" fill="none" class="stroke-current text-primary-500" stroke-width="3" stroke-dasharray="100" stroke-dashoffset="75"></circle>
                </svg>
              </div>
              
              <div class="relative size-10">
                <svg class="size-full -rotate-90" viewBox="0 0 36 36" xmlns="http://www.w3.org/2000/svg">
                  <circle cx="18" cy="18" r="16" fill="none" class="stroke-current text-primary-500" stroke-width="3" stroke-dasharray="100" stroke-dashoffset="50"></circle>
                </svg>
              </div>
              
              <div class="relative size-10">
                <svg class="size-full -rotate-90" viewBox="0 0 36 36" xmlns="http://www.w3.org/2000/svg">
                  <circle cx="18" cy="18" r="16" fill="none" class="stroke-current text-primary-500" stroke-width="3" stroke-dasharray="100" stroke-dashoffset="25"></circle>
                </svg>
              </div>
              
              <div class="relative size-10">
                <svg class="size-full -rotate-90" viewBox="0 0 36 36" xmlns="http://www.w3.org/2000/svg">
                  <circle cx="18" cy="18" r="16" fill="none" class="stroke-current text-primary-500" stroke-width="3" stroke-dasharray="100" stroke-dashoffset="1"></circle>
                </svg>
              </div>

              <div x-data="progressAnimation()" x-init="startAnimation()" class="relative size-10">
                <svg class="size-full -rotate-90" viewBox="0 0 36 36" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="18" cy="18" r="16" fill="none" class="stroke-current text-primary-500"
                        stroke-width="3"
                        stroke-dasharray="100"
                        x-bind:stroke-dashoffset="strokeDashoffset">
                    </circle>
                </svg>
              </div>

            </div>

          
          </div>
        </div>

        <div class="card component-card h-max">
          <div class="card-body">
            <div class="mb-4 card-title">
              Sizes
            </div>

            <div class="flex items-center gap-6 flex-wrap">
              <div class="animate-spin inline-block size-[50px] border-[3px] border-current border-t-transparent text-primary-500 rounded-full dark:text-white" role="status" aria-label="loading"></div>
              <div class="animate-spin inline-block size-10 border-[3px] border-current border-t-transparent text-primary-500 rounded-full dark:text-white" role="status" aria-label="loading"></div>
              <div class="animate-spin inline-block size-[30px] border-[3px] border-current border-t-transparent text-primary-500 rounded-full dark:text-white" role="status" aria-label="loading"></div>
              <div class="animate-spin inline-block size-5 border-[3px] border-current border-t-transparent text-primary-500 rounded-full dark:text-white" role="status" aria-label="loading"></div>
            </div>
          
          </div>
        </div>

        <div class="card component-card">
          <div class="card-body">
            <div class="mb-4 card-title">
              Linear
            </div>

            <div class="space-y-6">

              <div class='flex w-full h-1.5 bg-gray-200 rounded-full overflow-hidden dark:bg-gray-700'>
                <div class='animate-progress w-full h-full rounded-full overflow-hidden bg-primary-500 origin-left-right'></div>
              </div>
              <div class='flex w-full h-1.5 bg-gray-200 rounded-full overflow-hidden dark:bg-gray-700'>
                <div class='animate-progress w-full h-full rounded-full overflow-hidden bg-warning-500 origin-left-right'></div>
              </div>
              <div class='flex w-full h-1.5 bg-gray-200 rounded-full overflow-hidden dark:bg-gray-700'>
                <div class='animate-progress w-full h-full rounded-full overflow-hidden bg-error-500 origin-left-right'></div>
              </div>
              <div class='flex w-full h-1.5 bg-gray-200 rounded-full overflow-hidden dark:bg-gray-700'>
                <div class='animate-progress w-full h-full rounded-full overflow-hidden bg-success-500 origin-left-right'></div>
              </div>
              <div class='flex w-full h-1.5 bg-gray-400 rounded-full overflow-hidden dark:bg-gray-600'>
                <div class='animate-progress w-full h-full rounded-full overflow-hidden bg-gray-900 dark:bg-gray-300 origin-left-right'></div>
              </div>
            
            </div>
          
          </div>
        </div>
        
        <div class="card component-card">
          <div class="card-body">
            <div class="mb-4 card-title">
              Determinate
            </div>

            <div class="flex flex-col gap-6">

              <div class="flex w-full h-1.5 bg-gray-200 rounded-full overflow-hidden dark:bg-gray-700" role="progressbar" id="determinate" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                <div class="transition-width transition duration-300 ease-in-out flex flex-col justify-center rounded-full overflow-hidden bg-primary-500 text-xs text-white text-center whitespace-nowrap w-1/4"></div>
              </div>

              <div class="flex w-full h-1.5 bg-gray-200 rounded-full overflow-hidden dark:bg-gray-700" role="progressbar" id="determinate" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                <div class="transition-width transition duration-300 ease-in-out flex flex-col justify-center rounded-full overflow-hidden bg-primary-500 text-xs text-white text-center whitespace-nowrap w-2/4"></div>
              </div>

              <div class="flex w-full h-1.5 bg-gray-200 rounded-full overflow-hidden dark:bg-gray-700" role="progressbar" id="determinate" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                <div class="transition-width transition duration-300 ease-in-out flex flex-col justify-center rounded-full overflow-hidden bg-primary-500 text-xs text-white text-center whitespace-nowrap w-3/4"></div>
              </div>

              <div class="flex w-full h-1.5 bg-gray-200 rounded-full overflow-hidden dark:bg-gray-700" role="progressbar" id="determinate" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                <div class="transition-width transition duration-300 ease-in-out flex flex-col justify-center rounded-full overflow-hidden bg-primary-500 text-xs text-white text-center whitespace-nowrap w-full"></div>
              </div>

              <div class="flex w-full h-1.5 bg-gray-200 rounded-full overflow-hidden dark:bg-gray-700" role="progressbar" id="determinate" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                <div id="progress-bar" class="transition-width transition duration-300 ease-in-out flex flex-col justify-center rounded-full overflow-hidden bg-primary-500 text-xs text-white text-center whitespace-nowrap" style="width: 0%"></div>
              </div>

            </div>

          
          </div>
        </div>

        <div class="card component-card">
          <div class="card-body">
            <div class="mb-4 card-title">
              Buffer
            </div>

            <div class="space-y-6">

              <div class="w-full">
                <div class="relative w-full h-2 bg-gray-200 rounded-full">
                  <div id="progress-bar" class="absolute top-0 left-0 h-full bg-red-900 rounded-full" style="width: 0%;"></div>
                  <div id="buffer-bar" class="absolute top-0 left-0 h-full bg-primary-300 rounded-full opacity-50" style="width: 0%;"></div>
                </div>
              </div>
                

              <div class='flex w-full h-1.5 bg-gray-200 rounded-full overflow-hidden dark:bg-gray-700'>
                <div class='w-1/2 h-full rounded-full overflow-hidden bg-primary-500 origin-left-right'></div>
              </div>
              <div class='flex w-full h-1.5 bg-gray-200 rounded-full overflow-hidden dark:bg-gray-700'>
                <div class='w-1/2 h-full rounded-full overflow-hidden bg-warning-500 origin-left-right'></div>
              </div>
              <div class='flex w-full h-1.5 bg-gray-200 rounded-full overflow-hidden dark:bg-gray-700'>
                <div class='w-1/2 h-full rounded-full overflow-hidden bg-error-500 origin-left-right'></div>
              </div>
              <div class='flex w-full h-1.5 bg-gray-200 rounded-full overflow-hidden dark:bg-gray-700'>
                <div class='w-1/2 h-full rounded-full overflow-hidden bg-success-500 origin-left-right'></div>
              </div>
              <div class='flex w-full h-1.5 bg-gray-400 rounded-full overflow-hidden dark:bg-gray-600'>
                <div class='w-1/2 h-full rounded-full overflow-hidden bg-gray-900 dark:bg-gray-300 origin-left-right'></div>
              </div>
            
            </div>
          
          </div>
        </div>
        
      </div>

    </div>
   </div>
{% endblock content %}
{% block js %}
<script src={% static '/public/js/ui-progress.js' %}></script>
{% endblock js %}