<!-- <div class="absolute inset-x-0 bottom-0 flex items-center px-6 border-t h-14 border-zinc-200 dark:border-gray-700/40">
    <div class="w-full">
        <div class="grid grid-cols-1 gap-4 lg:grid-cols-2">
            <div class="hidden lg:block">
                <ul class="flex items-center gap-4 text-sm">
                    <li><a href="javascript:void(0);" class="font-medium transition duration-300 ease-linear text-zinc-500 hover:text-primary-500 group-data-[theme-color=green]:hover:text-green-500 group-data-[theme-color=purple]:hover:text-purple-500 dark:text-gray-400 dark:hover:text-primary-500 group-data-[theme-color=green]:dark:hover:text-green-500 group-data-[theme-color=purple]:dark:hover:text-purple-500">About</a></li>
                    <li><a href="javascript:void(0);" class="font-medium transition duration-300 ease-linear text-zinc-500 hover:text-primary-500 group-data-[theme-color=green]:hover:text-green-500 group-data-[theme-color=purple]:hover:text-purple-500 dark:text-gray-400 dark:hover:text-primary-500 group-data-[theme-color=green]:dark:hover:text-green-500 group-data-[theme-color=purple]:dark:hover:text-purple-500">Support</a></li>
                    <li><a href="javascript:void(0);" class="font-medium transition duration-300 ease-linear text-zinc-500 hover:text-primary-500 group-data-[theme-color=green]:hover:text-green-500 group-data-[theme-color=purple]:hover:text-purple-500 dark:text-gray-400 dark:hover:text-primary-500 group-data-[theme-color=green]:dark:hover:text-green-500 group-data-[theme-color=purple]:dark:hover:text-purple-500">Purchse Now</a></li>
                </ul>
            </div>
            <div class="text-sm text-center ltr:lg:text-right rtl:lg:text-left text-zinc-500 dark:text-gray-400">
                <p>
                    &copy;
                    <script>
                        var year = new Date(); document.write(year.getFullYear());
                    </script> AiAlies. Crafted by <a href="javascript:void(0);" class="font-semibold">AI-Master</a>
                </p>
            </div>
        </div>
    </div>
</div> -->
<div class="card card-dark mb-8">
    <div class="card-body flex flex-wrap justify-center text-center md:text-start md:justify-between gap-4 items-center">
        <div>
            <h6 class="text-3 font-semibold">QuickFrame Admin Template</h6>
            <p class="text-gray-500 dark:text-gray-400 font-normal mt-1 mb-6">Clean UI design & Well documentation</p>
            <button ripple-opacity="0.3" class="btn btn-primary ripple">Buy Now</button>
        </div>
        <div class="flex flex-col items-end gap-2">
            <div class="flex items-center gap-4">
                <a href="#!" class="text-primary-500 font-medium">About</a>
                <a href="#!" class="text-primary-500 font-medium">Support</a>
                <a href="#!" class="text-primary-500 font-medium">Terms & Conditions</a>
            </div>
            <div class="flex items-center">
                <button class="btn-secondary-icon-hover size-10">
                    <i class="ri-twitter-fill text-2xl"></i>
                </button>
                <button class="btn-secondary-icon-hover size-10">
                    <i class="ri-linkedin-box-fill text-2xl"></i>
                </button>
                <button class="btn-secondary-icon-hover size-10">
                    <i class="ri-facebook-circle-fill text-2xl"></i>
                </button>
                <button class="btn-secondary-icon-hover size-10">
                    <i class="ri-github-fill text-2xl"></i>
                </button>
            </div>
        </div>
    </div>
</div>