<!-- Breadcrumb Start -->
<div class="bg-gray-50 dark:bg-gray-800 font-semibold py-20">
  <div class="container">
    <h6 class="text-2xl font-semibold leading-9 mb-4 dark:text-white">{{ title }}</h6>
    <div class="flex gap-4">
      <a href="components.html">
        <button class="btn btn-primary btn-text-icon !px-3 !py-[5px]">
          <i class="ri-arrow-left-line text-xl leading-none"></i>
          Go Back
        </button>
      </a>
      <button class="btn btn-outline-secondary dark:bg-transparent border-gray-200 hover:border-transparent hover:bg-transparent dark:border-gray-700 text-black hover:text-black dark:text-white dark:hover:border-white">
        Browse Accordion Doc
      </button>
    </div>
  </div>
</div>
<!-- Breadcrumb end -->
<hr class="border-gray-200 dark:border-gray-700">