.hs-accordion-group.tw-accordion {
    .hs-accordion {
        @apply border rounded-2xl px-6 py-4 bg-white dark:bg-gray-800 border-white dark:border-gray-700 overflow-hidden;
        .hs-accordion-toggle {
            @apply text-6 font-semibold text-gray-400 dark:text-gray-400 w-full flex justify-between items-center gap-x-3;
        }
        .hs-accordion-content {
            @apply text-gray-400 w-full overflow-hidden transition-[height] duration-300;
        }
    }
}

.responsive-table {
    @apply w-full overflow-x-auto whitespace-nowrap;
}
.table.dataTable {
    thead {
        @apply border-none bg-transparent border-transparent leading-[56px];
        th ,
        td {
            @apply border-none leading-[56px] px-2.5 py-0 text-gray-900 font-medium;
        }
    }
    tbody {
        @apply max-h-[520px] overflow-y-scroll;
        tr {
            @apply bg-transparent hover:bg-gray-900/5;
            &.selected {
                @apply bg-primary-500/10;
            }
            th ,
            td {
                @apply border-none leading-[56px] px-2.5 py-0 text-gray-900 dark:text-white font-normal;
            }
        }
    }
    &.no-footer {
        @apply border-none border-transparent;
    }
}
table#filterDataTable {
    tbody tr.selected {
        @apply relative bg-gray-50 dark:bg-gray-700;
        &::after {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 3px;
            height: 100%;
            background-color: #6950e8;
        }
    }
}